flows_orangepione.json
[{"id":"33daaadd.09b7c6","type":"tab","label":"Main","disabled":false,"info":""},{"id":"2c9e8634.b263aa","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"91460ca4.ac405","type":"tab","label":"Pelletes stove","disabled":false,"info":""},{"id":"a46938.05ec16c8","type":"tab","label":"Light","disabled":false,"info":""},{"id":"e80a4a7a.e85da8","type":"tab","label":"Meters","disabled":false,"info":""},{"id":"fe938bd6.9d4098","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"ead13ce8.c01bc","type":"ui_group","z":"","name":"Первый этаж","tab":"8d1f566c.2db748","order":1,"disp":true,"width":"5","collapse":false},{"id":"5e71a7a8.4cbe38","type":"ui_group","z":"","name":"Бойлер","tab":"3dd5adbe.638ec2","order":3,"disp":true,"width":"6"},{"id":"5fa85ba9.dbbfd4","type":"ui_group","z":"","name":"Group 1","tab":"94462895.b4bea8","order":2,"disp":false,"width":"20","collapse":false},{"id":"c1b32d80.1efe8","type":"ui_group","z":"","name":"Пеллетный Котел","tab":"3dd5adbe.638ec2","order":2,"disp":true,"width":"6"},{"id":"22ddd62c.de1dca","type":"ui_group","z":"","name":"Спальня","tab":"8d1f566c.2db748","order":2,"disp":true,"width":"5","collapse":false},{"id":"3dd5adbe.638ec2","type":"ui_tab","z":"","name":"Основная","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"94462895.b4bea8","type":"ui_tab","z":"","name":"Графики","icon":"show_chart","order":3,"disabled":false,"hidden":false},{"id":"d83a05f1.6e93f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f482c3dc.e7e9","type":"ui_group","z":"","name":"Электропитание","tab":"3dd5adbe.638ec2","order":1,"disp":true,"width":"6"},{"id":"c149702.78ec99","type":"ui_group","z":"","name":"Свет","tab":"3dd5adbe.638ec2","order":4,"disp":true,"width":"6"},{"id":"ea6158bc.7d2b68","type":"modbus-client","z":"33daaadd.09b7c6","name":"plc","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.50","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"7527c183.d5a45","type":"ui_group","z":"","name":"System","tab":"3dd5adbe.638ec2","order":5,"disp":true,"width":"6","collapse":false},{"id":"f74ca4ba.d62c98","type":"ui_group","z":"","name":"Ванная","tab":"8d1f566c.2db748","order":4,"disp":true,"width":"5","collapse":false},{"id":"2ac337e8.a5f398","type":"ui_spacer","name":"spacer","group":"f482c3dc.e7e9","order":1,"width":1,"height":1},{"id":"e82530c0.da081","type":"homekit-accessory","z":"","accessoryName":"HallLight","pinCode":"111-11-112","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"63d7c3a5.6bff0c","type":"ui_group","z":"","name":"Холл","tab":"8d1f566c.2db748","order":3,"disp":true,"width":"5","collapse":false},{"id":"7ce291e8.15156","type":"ui_group","z":"","name":"Детская","tab":"8d1f566c.2db748","order":5,"disp":true,"width":"5","collapse":false},{"id":"8d1f566c.2db748","type":"ui_tab","z":"","name":"Отопление","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"18c7b6b1.0674a9","type":"ui_group","z":"","name":"Электро Котел","tab":"3dd5adbe.638ec2","order":6,"disp":true,"width":"6","collapse":false},{"id":"f144d12e.d7051","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e45fafe8.ecbe5","type":"modbus-flex-write","z":"33daaadd.09b7c6","name":"","showStatusActivities":true,"showErrors":false,"server":"ea6158bc.7d2b68","x":1490,"y":520,"wires":[[],[]]},{"id":"c7fb5fd6.8f303","type":"ui_text","z":"33daaadd.09b7c6","group":"ead13ce8.c01bc","order":1,"width":0,"height":0,"name":"","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":860,"y":700,"wires":[]},{"id":"4773a777.4af548","type":"function","z":"33daaadd.09b7c6","name":"handle_temp_sensors","func":"var registers = msg.payload;\nvar regA = registers[10]; \nvar regB = registers[11]; \nvar regC = registers[12]; \nvar regD = registers[13]; \nvar regE = registers[14]; \nvar regF = registers[15]; \nvar regG = registers[16]; \nvar regH = registers[17]; \n\nvar t1 = { payload: regA / 10, topic: \"boiler\", measurement: \"boiler\" };\nvar t2 = { payload: regB / 10, topic: \"livingroom\", measurement: \"livingroom\" };\nvar t3 = { payload: regC / 10, topic: \"coolant\",  measurement: \"coolant\" };\nvar t4 = { payload: regD / 10, topic: \"bath_floor\"};\nvar t5 = { payload: regE / 10, topic: \"coolant_out\"};\nvar t6 = { payload: regF / 10 };\nvar t7 = { payload: regG / 10 };\nvar t8 = { payload: regH / 10 };\n\nglobal.set(\"boiler.cur\", t1.payload);\n\nglobal.set(\"temperature.livingroom\", t2.payload);\nglobal.set(\"temperature.boiler\", t1.payload);\nglobal.set(\"temperature.coolant\", t3.payload);\nglobal.set(\"temperature.chimney\", t5.payload);\n\n\nreturn [ t1, t2, t3, t4, t5, t6, t7, t8 ];","outputs":8,"noerr":0,"x":480,"y":760,"wires":[[],["c7fb5fd6.8f303"],["3008a84.b915e58","7bace29f.b4a35c"],[],["9a11fa97.899a98"],[],[],[]]},{"id":"9ee23c5f.92977","type":"function","z":"33daaadd.09b7c6","name":"handle_boiler","func":"function normalize(val, max, min) \n{\n    if(val > max)\n    {\n        return 1;\n    }\n    \n    if(val < min)\n    {\n        return 0;\n    }\n    \n    return (val - min) / (max - min);\n}\n\nvar registers = msg.payload;\n\nvar desired_temp = registers[26];\nvar cur_temp = registers[27];\nvar state = registers[28];\nvar progress = normalize(cur_temp, desired_temp, 20);\n\nvar msg1 = { payload: state };\nvar msg2 = { payload: desired_temp / 10, enabled: state != 3 };\nvar msg3 = { payload: cur_temp / 10, topic: \"boiler\" };\n\nglobal.set(\"boiler.desired\", msg2.payload);\nglobal.set(\"boiler.state\", msg1.payload);\nglobal.set(\"boiler.progress\", progress);\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":460,"y":620,"wires":[["223f9606.68f48a"],["f53fa42a.52c698"],["ad5dc25f.74aed"]]},{"id":"ad5dc25f.74aed","type":"ui_gauge","z":"33daaadd.09b7c6","name":"","group":"5e71a7a8.4cbe38","order":1,"width":0,"height":0,"gtype":"gage","title":"Температура","label":"С","format":"{{value}}","min":0,"max":"60","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"","seg2":"","x":880,"y":660,"wires":[]},{"id":"f53fa42a.52c698","type":"ui_numeric","z":"33daaadd.09b7c6","name":"Желаемая","label":"Желаемая","group":"5e71a7a8.4cbe38","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"10","max":"70","step":"1","x":870,"y":620,"wires":[["5edb148f.e1e27c"]]},{"id":"5edb148f.e1e27c","type":"function","z":"33daaadd.09b7c6","name":"write_boiler_desired_temp","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 26 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":600,"wires":[["e45fafe8.ecbe5"]]},{"id":"223f9606.68f48a","type":"ui_dropdown","z":"33daaadd.09b7c6","name":"","label":"Режим","tooltip":"","place":"Select option","group":"5e71a7a8.4cbe38","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"выкл","value":0,"type":"num"},{"label":"авто","value":1,"type":"num"},{"label":"электро","value":"2","type":"str"},{"label":"котел","value":"3","type":"str"},{"label":"турбо","value":"4","type":"str"}],"payload":"","topic":"","x":860,"y":580,"wires":[["3316d85e.519c98"]]},{"id":"3316d85e.519c98","type":"function","z":"33daaadd.09b7c6","name":"write_boiler_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 28 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":560,"wires":[["e45fafe8.ecbe5"]]},{"id":"f37981c4.ec54d","type":"link in","z":"33daaadd.09b7c6","name":"modbus_out","links":["bd119aa2.9e7e48","3215a252.5aa16e","e2804b74.4b07b8"],"x":1415,"y":460,"wires":[["e45fafe8.ecbe5"]]},{"id":"ed90cab0.2774c8","type":"function","z":"33daaadd.09b7c6","name":"handle_ro_states","func":"var registers = msg.payload;\nvar reg = registers[2];\nvar s0 = reg & 1         // electro boiler\nvar s1 = (reg >> 1) & 1; // pellet boiler\nvar s2 = (reg >> 2) & 1; // water boiler\nvar s3 = (reg >> 3) & 1; // livingroom termostat\nvar s4 = (reg >> 4) & 1; // 2f bedroom termostat\nvar s5 = (reg >> 5) & 1; // coolant boiler\n\nvar power = global.get(\"electro.power\")  || 0;\nglobal.set(\"boiler.power\", (s2 == 1 && power > 2100) ? 2100 : 0);\nglobal.set(\"stove.eco_mode\", s1 == 1 ? \"normal\" : \"economy\");\nglobal.set(\"coolant_boiler.state\", s5 && power > 3500);\n\n\nvar out0 = { payload: s0 == 1 ? \"on\" : \"off\"};\nvar out1 = { payload: s1 == 1 ? \"on\" : \"off\"};\nvar out2 = { payload: s2 == 1 ? \"on\" : \"off\"};\nvar out3 = { payload: s3 == 1 ? \"on\" : \"off\"};\nvar out4 = { payload: s4 == 1 ? \"on\" : \"off\"};\nvar out5 = { payload: s5 == 1 ? \"on\" : \"off\"};\n\nreturn [out0, out1, out2, out3, out4, out5];","outputs":6,"noerr":0,"x":470,"y":220,"wires":[[],[],["61984230.cc2b5c"],[],[],["d3515300.c9e86"]]},{"id":"61984230.cc2b5c","type":"ui_text","z":"33daaadd.09b7c6","group":"5e71a7a8.4cbe38","order":3,"width":0,"height":0,"name":"","label":"ТЭН","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":200,"wires":[]},{"id":"e8ca8348.227f2","type":"function","z":"33daaadd.09b7c6","name":"handle_pumps_states","func":"var registers = msg.payload;\nvar reg = registers[3];\nvar p0 = reg & 1         // water boiler pump\nvar p1 = (reg >> 1) & 1; // warm floor pump\nvar p2 = (reg >> 2) & 1; // bedroom 2f valve\nvar p3 = (reg >> 3) & 1; // hall valve\nvar p4 = (reg >> 4) & 1; // bath valve\nvar p5 = (reg >> 5) & 1; // children room valve \nvar p6 = (reg >> 6) & 1; // fan state\n\nvar out0 = p0 == 1 ? { payload: \"on\", color: \"black\"} : { payload: \"off\", color: \"black\"};\nvar out1 = p1 == 1 ? { payload: \"on\", color: \"red\"} : { payload: \"off\", color: \"blue\"};\nvar out2 = p2 == 1 ? { payload: \"open\", color: \"red\"} : { payload: \"closed\", color: \"blue\"};\nvar out3 = p3 == 1 ? { payload: \"open\", color: \"red\"} : { payload: \"closed\", color: \"blue\"};\nvar out4 = p4 == 1 ? { payload: \"open\", color: \"red\"} : { payload: \"closed\", color: \"blue\"};\nvar out5 = p5 == 1 ? { payload: \"open\", color: \"red\"} : { payload: \"closed\", color: \"blue\"};\nvar out6 = p6 == 1 ? { payload: \"on\", color: \"green\"} : { payload: \"off\", color: \"red\"};\n\nglobal.set(\"livigroom.pump\", p1 == 1);\nglobal.set(\"bedroom.valve\", p2 == 1);\nglobal.set(\"hall.valve\", p3 == 1);\nglobal.set(\"bath.valve\", p4 == 1);\nglobal.set(\"childrenroom.valve\", p5 == 1);\n\nreturn [out0, out1, out2, out3, out4, out5, out6];","outputs":7,"noerr":0,"x":480,"y":400,"wires":[["4cbdd3a0.a666cc"],["5a25c63b.18b728"],["24e78d7e.46b692"],["26dd8b7d.01a974"],["4be9567f.32c268"],["2553da34.8423b6"],["8d56fc2b.467ce"]]},{"id":"4cbdd3a0.a666cc","type":"ui_text","z":"33daaadd.09b7c6","group":"5e71a7a8.4cbe38","order":2,"width":0,"height":0,"name":"клапан на бойлере","label":"Кран","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":900,"y":300,"wires":[]},{"id":"5a25c63b.18b728","type":"ui_text","z":"33daaadd.09b7c6","group":"ead13ce8.c01bc","order":4,"width":0,"height":0,"name":"насос тп","label":"Насос","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"24e78d7e.46b692","type":"ui_text","z":"33daaadd.09b7c6","group":"22ddd62c.de1dca","order":3,"width":0,"height":0,"name":"радиатор спальня 2","label":"Радиатор","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":900,"y":380,"wires":[]},{"id":"85b1ec18.83f57","type":"ui_text","z":"33daaadd.09b7c6","group":"22ddd62c.de1dca","order":1,"width":0,"height":0,"name":"Текущая Спальня","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":890,"y":1040,"wires":[]},{"id":"f3949ac9.349018","type":"ui_gauge","z":"a46938.05ec16c8","name":"","group":"f482c3dc.e7e9","order":1,"width":0,"height":0,"gtype":"gage","title":"Потребление","label":"Вт","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":140,"wires":[]},{"id":"2249c832.3e92c8","type":"ui_text","z":"a46938.05ec16c8","group":"f482c3dc.e7e9","order":2,"width":0,"height":0,"name":"","label":"Напряжение","format":"{{msg.payload}} в","layout":"row-spread","x":1050,"y":180,"wires":[]},{"id":"781ea067.5d78c","type":"ui_text","z":"a46938.05ec16c8","group":"f482c3dc.e7e9","order":3,"width":0,"height":0,"name":"","label":"Общий расход","format":"{{msg.payload}} кВт*ч","layout":"row-spread","x":1060,"y":220,"wires":[]},{"id":"3a1d5ef5.6671a2","type":"ui_text","z":"a46938.05ec16c8","group":"7527c183.d5a45","order":2,"width":0,"height":0,"name":"","label":"Время","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":440,"wires":[]},{"id":"4dd9d426.e5f93c","type":"ui_switch","z":"a46938.05ec16c8","name":"Гостиная","label":"Гостиная","tooltip":"","group":"c149702.78ec99","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":640,"wires":[["7d8540cd.a4222"]]},{"id":"753358cd.5a4708","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Кухня Стол","tooltip":"","group":"c149702.78ec99","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":680,"wires":[["94467d78.40dd6"]]},{"id":"8c66c954.2e24b8","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Прихожая","group":"c149702.78ec99","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":720,"wires":[["a2721486.c7eea8"]]},{"id":"d06c908b.0b277","type":"ui_switch","z":"a46938.05ec16c8","name":"Ванная","label":"2эт Ванная","tooltip":"","group":"c149702.78ec99","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":760,"wires":[["c6555cc4.e155f"]]},{"id":"ae13fd70.8f0b","type":"function","z":"a46938.05ec16c8","name":"handle_light","func":"var registers = msg.payload;\nvar reg = registers[0];\nvar l0 = reg & 1\nvar l1 = (reg >> 1) & 1;\nvar l2 = (reg >> 2) & 1;\nvar l3 = (reg >> 3) & 1;\nvar l4 = (reg >> 4) & 1;\nvar l5 = (reg >> 5) & 1;\nvar l6 = (reg >> 6) & 1;\nvar l7 = (reg >> 7) & 1;\nvar l8 = (reg >> 8) & 1;\nvar l9 = (reg >> 9) & 1;\nvar l10 = (reg >> 10) & 1;\nvar l11 = (reg >> 11) & 1;\nvar l12 = (reg >> 12) & 1;\nvar l13 = (reg >> 13) & 1;\nvar l14 = (reg >> 14) & 1;\nvar l15 = (reg >> 15) & 1;\n\nvar out0 = { payload: l0 == 1 ? true : false};\nvar out1 = { payload: l1 == 1 ? true : false};\nvar out2 = { payload: l2 == 1 ? true : false};\nvar out3 = { payload: l3 == 1 ? true : false};\nvar out4 = { payload: l4 == 1 ? true : false};\nvar out5 = { payload: l5 == 1 ? true : false};\nvar out6 = { payload: l6 == 1 ? true : false};\nvar out7 = { payload: l7 == 1 ? true : false};\nvar out8 = { payload: l8 == 1 ? true : false};\nvar out9 = { payload: l9 == 1 ? true : false};\nvar out10 = { payload: l10 == 1 ? true : false};\nvar out11 = { payload: l11 == 1 ? true : false};\nvar out12 = { payload: l12 == 1 ? true : false};\nvar out13 = { payload: l13 == 1 ? true : false};\nvar out14 = { payload: l14 == 1 ? true : false};\nvar out15 = { payload: l15 == 1 ? true : false};\n\nglobal.set(\"light.0\",  l0);\nglobal.set(\"light.1\",  l1);\nglobal.set(\"light.2\",  l2);\nglobal.set(\"light.3\",  l3);\nglobal.set(\"light.4\",  l4);\nglobal.set(\"light.5\",  l5);\nglobal.set(\"light.6\",  l6);\nglobal.set(\"light.7\",  l7);\nglobal.set(\"light.8\",  l8);\nglobal.set(\"light.9\",  l9);\nglobal.set(\"light.10\",  l10);\nglobal.set(\"light.11\",  l11);\nglobal.set(\"light.12\",  l12);\nglobal.set(\"light.13\",  l13);\nglobal.set(\"light.14\",  l14);\nglobal.set(\"light.15\",  l15);\n\nglobal.set(\"living_room.light\", out0.payload ? \"on\" : \"off\");\nglobal.set(\"hall.light\",  l7 == 1);\n\nreturn [ {}, out0, out1, out2, out3, out4, out5, out6, out7, out8, out9, out10, out11, out12, out13, out14, out15];","outputs":17,"noerr":0,"x":480,"y":800,"wires":[[],["4dd9d426.e5f93c"],["753358cd.5a4708"],["8c66c954.2e24b8"],["d06c908b.0b277"],["1432e0f4.a2afef"],["1bc565b7.52e6ea"],["a88ebe4b.55d6d"],["a90402c3.705b1","aa702358.5508e"],[],["4c98972d.8256a8"],["913b704d.111ab"],["7bffa4f6.66e9cc"],["2cc01cff.890774"],["204e8928.599ce6"],["351b097c.7f6e66"],["c23d9729.9a3dd8"]]},{"id":"94467d78.40dd6","type":"function","z":"a46938.05ec16c8","name":"write_light1","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 1 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":680,"wires":[["bd119aa2.9e7e48"]]},{"id":"7d8540cd.a4222","type":"function","z":"a46938.05ec16c8","name":"write_light0","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 0 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":640,"wires":[["bd119aa2.9e7e48"]]},{"id":"a2721486.c7eea8","type":"function","z":"a46938.05ec16c8","name":"write_light2","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 2 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":720,"wires":[["bd119aa2.9e7e48"]]},{"id":"c6555cc4.e155f","type":"function","z":"a46938.05ec16c8","name":"write_light3","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 3 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":760,"wires":[["bd119aa2.9e7e48"]]},{"id":"211efeda.f9a482","type":"function","z":"a46938.05ec16c8","name":"write_light4","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 4 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":800,"wires":[["bd119aa2.9e7e48"]]},{"id":"bd119aa2.9e7e48","type":"link out","z":"a46938.05ec16c8","name":"moudbus_out","links":["bc1340df.20867","f37981c4.ec54d"],"x":1670,"y":620,"wires":[]},{"id":"5d9b357a.d929bc","type":"link in","z":"a46938.05ec16c8","name":"modbus_in","links":["55f46db4.5fd604","afe8e288.ad6da"],"x":305,"y":560,"wires":[["ae13fd70.8f0b","946dee8.acab91","cf70b781.926318","ad575a0d.93c4d8"]]},{"id":"ad575a0d.93c4d8","type":"function","z":"a46938.05ec16c8","name":"handle_flags","func":"var registers = msg.payload;\nvar regA = registers[21];\nvar regB = registers[22];\nvar regC = registers[23];\nvar regD = registers[1];\nvar nightMode = regD & 1\nvar safeMode = (regD >> 1) & 1;\nvar mainFan = (regD >> 2) & 1;\n\nglobal.set(\"electro.power\",   regA);\nglobal.set(\"electro.voltage\", regB);\nglobal.set(\"electro.total\",   regC);\nglobal.set(\"electro.night_mode\", nightMode == 1 ? true : false);\nglobal.set(\"electro.safe_mode\", safeMode == 1 ? true : false);\n\nvar msg1 = { payload: regA, topic: \"color\" };\nvar msg2 = { payload: regB };\nvar msg3 = { payload: regC };\nvar msg4 = { payload: nightMode == 1 ? true : false};\nvar msg5 = { payload: safeMode == 1 ? true : false};\nvar msg6 = { payload: mainFan == 1 ? true : false};\n\nvar measuremet = {\n    \"power\" : regA, \n    \"voltage\" : regB,\n    \"night_tariff\": nightMode == 1 ? true : false\n}\n    \n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":560,"y":180,"wires":[["f3949ac9.349018","793675be.1f598c"],["2249c832.3e92c8"],["781ea067.5d78c"],[],["dcdd908a.12c53"],["c0c5b362.be6dd"]]},{"id":"dcdd908a.12c53","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Safe Mode","group":"f482c3dc.e7e9","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":300,"wires":[["99a7a686.620a38"]]},{"id":"99a7a686.620a38","type":"function","z":"a46938.05ec16c8","name":"write_safe_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 17 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":300,"wires":[["bd119aa2.9e7e48"]]},{"id":"1bc565b7.52e6ea","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"2эт Спальня","tooltip":"","group":"c149702.78ec99","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":840,"wires":[["d25bd7d7.ce5b98"]]},{"id":"d25bd7d7.ce5b98","type":"function","z":"a46938.05ec16c8","name":"write_light5","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 5 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":840,"wires":[["bd119aa2.9e7e48"]]},{"id":"946dee8.acab91","type":"function","z":"a46938.05ec16c8","name":"modbus_errors","func":"var registers = msg.payload;\nvar reg = registers[25];\n\nreturn { payload: reg };","outputs":"1","noerr":0,"x":570,"y":480,"wires":[["99ea61e9.0a2ee"]]},{"id":"99ea61e9.0a2ee","type":"ui_text","z":"a46938.05ec16c8","group":"7527c183.d5a45","order":1,"width":0,"height":0,"name":"","label":"Modbus Errors","format":"{{msg.payload}}%","layout":"row-spread","x":1070,"y":480,"wires":[]},{"id":"cf70b781.926318","type":"function","z":"a46938.05ec16c8","name":"handle_time","func":"var registers = msg.payload;\nvar regA = registers[24]; \nvar hours = (regA & 0xFF00) >> 8;\nvar minutes = regA & 0x00FF;\nvar time_str = hours + \":\" + minutes;\n\nvar plc_time = { payload: time_str };\n\nglobal.set(\"plc.time\", plc_time.payload);\n\nreturn plc_time;","outputs":"1","noerr":0,"x":560,"y":440,"wires":[["3a1d5ef5.6671a2"]]},{"id":"7c83b218.c1f01c","type":"inject","z":"e80a4a7a.e85da8","name":"3sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"","x":110,"y":180,"wires":[["cf105a5f.b7a9b8","d857123d.839dc","719b538a.ab7f9c","73a9c054.06d7d"]]},{"id":"6a2fda88.264af4","type":"file","z":"e80a4a7a.e85da8","name":"meters.json","filename":"/home/vadim/.node-red/meters.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":670,"y":700,"wires":[[]]},{"id":"c78de96a.43b818","type":"inject","z":"e80a4a7a.e85da8","name":"10min","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"20","x":100,"y":700,"wires":[["f97ec6c0.b99a78"]]},{"id":"5a397003.7f26","type":"json","z":"e80a4a7a.e85da8","name":"","property":"payload","action":"str","pretty":true,"x":510,"y":700,"wires":[["6a2fda88.264af4"]]},{"id":"b28a04a3.580018","type":"inject","z":"e80a4a7a.e85da8","name":"Start","topic":"30.770509","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":760,"wires":[["d1a4cf89.319b7"]]},{"id":"d1a4cf89.319b7","type":"file in","z":"e80a4a7a.e85da8","name":"meters.json","filename":"/home/vadim/.node-red/meters.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":760,"wires":[["7ed9ca5.587ae34"]]},{"id":"7ed9ca5.587ae34","type":"json","z":"e80a4a7a.e85da8","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":760,"wires":[["4eae932f.4b2dac"]]},{"id":"d857123d.839dc","type":"function","z":"e80a4a7a.e85da8","name":"process_power","func":"var cur = global.get(\"electro.power\");\nvar cur_ts = msg.payload;\n\nvar total = global.get(\"electro.daily\") || 0;\nvar prev = context.get(\"prev\") || cur;\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\n\n\nvar delta_hr =  (cur_ts - prev_ts) / (1000 * 60 * 60);\nvar val = delta_hr * prev / 1000;\ntotal += val;\n\ncontext.set(\"prev\", cur);\ncontext.set(\"prev_ts\", cur_ts);\nglobal.set(\"electro.daily\", total);\n\nmsg.payload = total;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["cbbf4dff.17cb8"]]},{"id":"cbbf4dff.17cb8","type":"ui_text","z":"e80a4a7a.e85da8","group":"f482c3dc.e7e9","order":4,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:1}} кВт*ч","layout":"row-spread","x":690,"y":260,"wires":[]},{"id":"6d45e10e.6565e","type":"ui_text","z":"e80a4a7a.e85da8","group":"c1b32d80.1efe8","order":10,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.payload | number:2}} ч","layout":"row-spread","x":700,"y":100,"wires":[]},{"id":"a4b73a03.05e0c8","type":"inject","z":"e80a4a7a.e85da8","name":"Daily","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":"","x":90,"y":880,"wires":[["90f06610.eefd78"]]},{"id":"cf105a5f.b7a9b8","type":"function","z":"e80a4a7a.e85da8","name":"process_pellet_consuption","func":"var cur_ts = msg.payload;\nvar cur = global.get(\"stove.power\");\nvar val = global.get(\"stove.consumption\") || 0;\nvar daily_consumption = global.get(\"stove.daily_consumpion\") || 0;\nvar uptime = global.get(\"stove.daily_uptime\") || 0;\n\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\ncontext.set(\"prev_ts\", cur_ts);\n\nvar delta_hr = (cur_ts - prev_ts) / (1000 * 60 * 60);\ndaily_consumption += delta_hr * val;\nuptime = cur ? uptime + delta_hr : uptime;\n\nglobal.set(\"stove.daily_consumpion\", daily_consumption);\nglobal.set(\"stove.daily_uptime\", uptime);\n\nvar out1 = { payload: uptime};\nvar out2 = { payload: daily_consumption};\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":380,"y":120,"wires":[["6d45e10e.6565e"],["13a01116.eccacf"]]},{"id":"13a01116.eccacf","type":"ui_text","z":"e80a4a7a.e85da8","group":"c1b32d80.1efe8","order":9,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:2}} кг","layout":"row-spread","x":690,"y":140,"wires":[]},{"id":"719b538a.ab7f9c","type":"function","z":"e80a4a7a.e85da8","name":"process_boiler_consumption","func":"var cur_ts = msg.payload;\nvar cur = global.get(\"boiler.power\");\n\nvar prev = context.get(\"prev\") || cur;\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\n\nvar total = global.get(\"boiler.daily\") || 0;\nvar uptime = global.get(\"boiler.daily_uptime\") || 0;\n\n\nvar delta_hr =  (cur_ts - prev_ts) / (1000 * 60 * 60);\nvar val = delta_hr * prev / 1000;\ntotal += val;\nuptime += delta_hr * (prev ? 1 : 0);\n\ncontext.set(\"prev\", cur);\ncontext.set(\"prev_ts\", cur_ts);\nglobal.set(\"boiler.daily\", total);\nglobal.set(\"boiler.daily_uptime\", uptime);\n\n\nvar out1 = { payload: total};\nvar out2 = { payload: uptime};\n\nreturn [out1, out2];","outputs":2,"noerr":0,"x":380,"y":200,"wires":[["d4f6084b.5b1bf8"],["94c5e2d6.e70c9"]]},{"id":"d4f6084b.5b1bf8","type":"ui_text","z":"e80a4a7a.e85da8","group":"5e71a7a8.4cbe38","order":7,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:1}} кВт*ч","layout":"row-spread","x":690,"y":180,"wires":[]},{"id":"93a3e858.4acfc8","type":"debug","z":"e80a4a7a.e85da8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":820,"wires":[]},{"id":"f97ec6c0.b99a78","type":"function","z":"e80a4a7a.e85da8","name":"StoreData","func":"var mylist = [\n    \"electro.daily\",\n    \"boiler.daily\",\n    \"boiler.daily_uptime\",\n    \"stove.daily_consumpion\",\n    \"stove.daily_uptime\",\n    \"stove.pellets_level\",\n    \"stove.mode\"\n    ];\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) \n{\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n  \n  \nmsg.payload = outputs;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":700,"wires":[["5a397003.7f26"]]},{"id":"4eae932f.4b2dac","type":"function","z":"e80a4a7a.e85da8","name":"RestoreData","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) \n{\n    switch (msg.payload[i].type)\n    {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\")\n            {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } \n            else \n            {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1)\n                {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } \n                else\n                {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n            \n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n            \n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":760,"wires":[["93a3e858.4acfc8"]]},{"id":"90f06610.eefd78","type":"function","z":"e80a4a7a.e85da8","name":"ResetDaily","func":"var mylist = [\n    \"electro.daily\",\n    \"boiler.daily\",\n    \"boiler.daily_uptime\",\n    \"stove.daily_consumpion\",\n    \"stove.daily_uptime\",\n    \"stove.pellets_level\"\n    ];\n\n//var outputs = [];\n\nfor (i=0; i<mylist.length; i++) \n{\n    global.set(mylist[i], 0);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[[]]},{"id":"94c5e2d6.e70c9","type":"ui_text","z":"e80a4a7a.e85da8","group":"5e71a7a8.4cbe38","order":13,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.payload | number:2}} ч","layout":"row-spread","x":700,"y":220,"wires":[]},{"id":"13a4f196.8ee53e","type":"inject","z":"e80a4a7a.e85da8","name":"debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["90f06610.eefd78"]]},{"id":"a88ebe4b.55d6d","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Полотенцесушитель","tooltip":"","group":"f74ca4ba.d62c98","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1090,"y":880,"wires":[["622bf548.fd9dac"]]},{"id":"622bf548.fd9dac","type":"function","z":"a46938.05ec16c8","name":"write_light6","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 6 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":880,"wires":[["bd119aa2.9e7e48"]]},{"id":"a90402c3.705b1","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Холл","tooltip":"","group":"c149702.78ec99","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1040,"y":920,"wires":[["84d02370.58ee7"]]},{"id":"84d02370.58ee7","type":"function","z":"a46938.05ec16c8","name":"write_light7","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 7 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":920,"wires":[["bd119aa2.9e7e48"]]},{"id":"9470f501.cfcde8","type":"function","z":"a46938.05ec16c8","name":"write_light8","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1000,"wires":[["bd119aa2.9e7e48"]]},{"id":"4c98972d.8256a8","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Кухня","group":"c149702.78ec99","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1020,"y":1040,"wires":[["286471b8.2bbcce"]]},{"id":"286471b8.2bbcce","type":"function","z":"a46938.05ec16c8","name":"write_light9","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1040,"wires":[["bd119aa2.9e7e48"]]},{"id":"913b704d.111ab","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Лестница","group":"c149702.78ec99","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1030,"y":1080,"wires":[["a163517b.caf77"]]},{"id":"a163517b.caf77","type":"function","z":"a46938.05ec16c8","name":"write_light10","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1080,"wires":[["bd119aa2.9e7e48"]]},{"id":"1432e0f4.a2afef","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Гостиная софиты","group":"c149702.78ec99","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1080,"y":800,"wires":[["211efeda.f9a482"]]},{"id":"9e622287.9f1f9","type":"ui_chart","z":"fe938bd6.9d4098","name":"","group":"5fa85ba9.dbbfd4","order":1,"width":"0","height":"0","label":"Потребление","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"15000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":640,"y":80,"wires":[[],[]]},{"id":"b114cb9c.a92b08","type":"inject","z":"fe938bd6.9d4098","name":"electro.power","topic":"electro","payload":"electro.power","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["9e622287.9f1f9"]]},{"id":"62b01f8b.da727","type":"inject","z":"fe938bd6.9d4098","name":"stove.power","topic":"stove","payload":"stove.power","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["9e622287.9f1f9"]]},{"id":"5395f29d.387dfc","type":"ui_chart","z":"fe938bd6.9d4098","name":"","group":"5fa85ba9.dbbfd4","order":2,"width":"0","height":"0","label":"Температура ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":640,"y":220,"wires":[[],[]]},{"id":"433f049d.d774ac","type":"inject","z":"fe938bd6.9d4098","name":"temperature.livingroom","topic":"livingroom","payload":"temperature.livingroom","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["ca9e71a.d7de89"]]},{"id":"ccdf9886.4939f8","type":"inject","z":"fe938bd6.9d4098","name":"temperature.bedroom","topic":"bedroom","payload":"temperature.bedroom","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["978151fd.45079"]]},{"id":"fa03b3b1.b4594","type":"inject","z":"fe938bd6.9d4098","name":"temperature.coolant","topic":"coolant","payload":"temperature.coolant","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":420,"wires":[["d3495c0f.62bc5"]]},{"id":"48692980.7d4868","type":"inject","z":"fe938bd6.9d4098","name":"temperature.boiler","topic":"boiler","payload":"temperature.boiler","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["369bf050.0bb"]]},{"id":"a842a09a.5453b","type":"ui_chart","z":"fe938bd6.9d4098","name":"","group":"5fa85ba9.dbbfd4","order":3,"width":"0","height":"0","label":"Бойлер","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff00","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":620,"y":440,"wires":[[],[]]},{"id":"ca9e71a.d7de89","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":160,"wires":[["5395f29d.387dfc"]]},{"id":"978151fd.45079","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":200,"wires":[["5395f29d.387dfc"]]},{"id":"d3495c0f.62bc5","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":420,"wires":[["a842a09a.5453b"]]},{"id":"369bf050.0bb","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":460,"wires":[["a842a09a.5453b"]]},{"id":"6cff9473.6900bc","type":"inject","z":"fe938bd6.9d4098","name":"temperature.hall","topic":"hall","payload":"temperature.hall","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["6906e5ef.78357c"]]},{"id":"e2dbe38f.eae7d","type":"inject","z":"fe938bd6.9d4098","name":"temperature.bath","topic":"bath","payload":"temperature.bath","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["a1d7e0d2.eeb11"]]},{"id":"b23d1f84.3d46e","type":"function","z":"33daaadd.09b7c6","name":"handle_bath_fan","func":"var registers = msg.payload;\n\nvar state = registers[4];\n\nvar msg = { payload: state };\n\nglobal.set(\"bath.fan_mode\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["7e5f76db.c4f158"]]},{"id":"7e5f76db.c4f158","type":"ui_dropdown","z":"33daaadd.09b7c6","name":"","label":"Вытяжка режим","tooltip":"","place":"Select option","group":"f74ca4ba.d62c98","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"выкл","value":0,"type":"num"},{"label":"авто","value":1,"type":"num"},{"label":"вкл","value":"2","type":"str"}],"payload":"","topic":"","x":890,"y":140,"wires":[["38979729.0a98a8"]]},{"id":"38979729.0a98a8","type":"function","z":"33daaadd.09b7c6","name":"write_bath_fan_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 4 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":140,"wires":[["e45fafe8.ecbe5"]]},{"id":"8d56fc2b.467ce","type":"ui_text","z":"33daaadd.09b7c6","group":"f74ca4ba.d62c98","order":6,"width":0,"height":0,"name":"Вытяжка","label":"Вытяжка","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":860,"y":540,"wires":[]},{"id":"54a7c8d3.1925a8","type":"inject","z":"e80a4a7a.e85da8","name":"Радиатор спальня","topic":"","payload":"bedroom.valve","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["38078984.cc4e96"]]},{"id":"38078984.cc4e96","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":420,"wires":[["801f882d.f49ba8"]]},{"id":"801f882d.f49ba8","type":"ui_text","z":"e80a4a7a.e85da8","group":"22ddd62c.de1dca","order":13,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":420,"wires":[]},{"id":"17c74042.b7587","type":"inject","z":"e80a4a7a.e85da8","name":"Reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["38078984.cc4e96","e8ea1a1e.80dfc8","1e64c8d9.a8d527","f690111c.2a7ec","1556377f.4ecf99","c90d441.5a884b8"]]},{"id":"b2662813.9cbc98","type":"inject","z":"e80a4a7a.e85da8","name":"Теплый пол","topic":"","payload":"livigroom.pump","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["e8ea1a1e.80dfc8"]]},{"id":"e8ea1a1e.80dfc8","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":460,"wires":[["aa8275e0.7252a8"]]},{"id":"aa8275e0.7252a8","type":"ui_text","z":"e80a4a7a.e85da8","group":"ead13ce8.c01bc","order":5,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":460,"wires":[]},{"id":"9c6b9ea.7b6f66","type":"inject","z":"91460ca4.ac405","name":"5sec","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":180,"wires":[["e2fe018.de9d4","86d1868c.3db788"]]},{"id":"e2fe018.de9d4","type":"http request","z":"91460ca4.ac405","name":"","method":"GET","ret":"txt","url":"http://192.168.0.200/status.xml","tls":"","x":130,"y":240,"wires":[["e905d9dd.f001c8"]]},{"id":"e905d9dd.f001c8","type":"xml","z":"91460ca4.ac405","name":"","attr":"","chr":"","x":110,"y":300,"wires":[["434f0d49.873f44"]]},{"id":"434f0d49.873f44","type":"function","z":"91460ca4.ac405","name":"handle_stove","func":"var tk = parseInt(msg.payload.response.val0[0]);\nvar to = parseInt(msg.payload.response.val1[0]);\nvar power_int = msg.payload.response.val2[0];\nvar power_dec = msg.payload.response.val10[0];\nvar t_desired = msg.payload.response.val8[0];\nvar consumption = msg.payload.response.val3[0] / 10;\nvar mode_val = msg.payload.response.val5[0];\nvar mode = \"-\";\n\n\nswitch(mode_val)\n{\n    case \"0\":\n        mode = \"standby\";\n        break;\n    case \"1\":\n        mode = \"lighting\";\n        break;\n    case \"2\":\n        mode = \"heating\";\n        break;\n    case \"3\":\n        mode = \"stopping\";\n        break;\n    case \"4\":\n        mode = \"electro\";\n        break;\n}\n\n\nvar power = 1000 * (parseInt(power_int) + parseInt(power_dec) / 10);\n\nglobal.set(\"stove.tk\", tk);\nglobal.set(\"stove.to\", to);\nglobal.set(\"stove.power\", power);\nglobal.set(\"stove.desired\", t_desired);\nglobal.set(\"stove.consumption\", consumption);\nglobal.set(\"stove.state\", mode);\n\nvar out1 = { payload: tk, topic: \"stove\", measurement: \"stove\" };\nvar out2 = { payload: to, topic: \"stove_back\", measurement: \"stove_back\" };\nvar out3 = { payload: power, measurement: \"stove_power\" };\nvar out4 = { payload: t_desired };\nvar out5 = { payload: consumption, measurement: \"stove_consumption\" };\nvar out6 = { payload: mode };\n\nreturn [out1, out2, out3, out4, out5, out6]","outputs":"6","noerr":0,"x":430,"y":300,"wires":[["c2138cd0.f0075"],["a7c295a2.91a708"],["62aff1b5.d29fe"],["b1875ca5.df2c6"],["644ec6e4.b1bb08"],["a526225f.e250e"]]},{"id":"c2138cd0.f0075","type":"ui_text","z":"91460ca4.ac405","group":"c1b32d80.1efe8","order":6,"width":0,"height":0,"name":"","label":"Котел*","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":670,"y":180,"wires":[]},{"id":"3253fb66.ec20c4","type":"http request","z":"91460ca4.ac405","name":"","method":"use","ret":"txt","url":"","tls":"","x":1250,"y":320,"wires":[[]]},{"id":"448de16a.575","type":"function","z":"91460ca4.ac405","name":"write_stove_temp","func":"var temp = parseInt(msg.payload) + 48;\n\nvar req = {};\nreq.url = \"http://192.168.0.200/d.cgi?p=56&v=\" + temp;\nreq.method = \"GET\";\nreturn req;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["3253fb66.ec20c4"]]},{"id":"a7c295a2.91a708","type":"ui_text","z":"91460ca4.ac405","group":"c1b32d80.1efe8","order":7,"width":0,"height":0,"name":"","label":"Обратка*","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":680,"y":220,"wires":[]},{"id":"b1875ca5.df2c6","type":"ui_numeric","z":"91460ca4.ac405","name":"","label":"Заданная","group":"c1b32d80.1efe8","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"30","max":"60","step":1,"x":680,"y":300,"wires":[["448de16a.575"]]},{"id":"644ec6e4.b1bb08","type":"ui_text","z":"91460ca4.ac405","group":"c1b32d80.1efe8","order":8,"width":0,"height":0,"name":"","label":"Расход","format":"{{msg.payload}} кг/ч","layout":"row-spread","x":680,"y":340,"wires":[]},{"id":"eeab1a76.d72a78","type":"function","z":"91460ca4.ac405","name":"write_stove_mode","func":"var mode = msg.payload;\n\nvar req = {};\nvar p = mode ? \"63\" : \"64\";\nvar v = \"49\";\nreq.url = \"http://192.168.0.200/d.cgi?v=\" + v + \"&p=\" + p;\nreq.method = \"GET\";\nreturn req;","outputs":1,"noerr":0,"x":1010,"y":140,"wires":[["3253fb66.ec20c4"]]},{"id":"a526225f.e250e","type":"ui_text","z":"91460ca4.ac405","group":"c1b32d80.1efe8","order":2,"width":0,"height":0,"name":"","label":"Состояние","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":380,"wires":[]},{"id":"fac3b962.a28588","type":"function","z":"91460ca4.ac405","name":"write_stove_electro_mode","func":"var mode = msg.payload;\n\nvar p_el = 93;\nvar p_pel = 94;\nvar v_el = 0;\nvar v_pel = 0;\n\nif(!mode)\n{\n    v_el = 72;\n    v_pel = 72;\n}\nelse\n{\n    v_el = 23 + 48;\n    v_pel = 7 + 48;\n}\n\nvar req1 = {};\nreq1.url = \"http://192.168.0.200/d.cgi?v=\" + v_el + \"&p=\" + p_el;\nreq1.method = \"GET\";\n\nvar req2 = {};\nreq2.url = \"http://192.168.0.200/d.cgi?v=\" + v_pel + \"&p=\" + p_pel;\nreq2.method = \"GET\";\n\n\nreturn [req1, req2];","outputs":2,"noerr":0,"x":1030,"y":500,"wires":[["3253fb66.ec20c4"],["3253fb66.ec20c4"]]},{"id":"f7420a2.13b47f8","type":"inject","z":"91460ca4.ac405","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":460,"wires":[["fac3b962.a28588"]]},{"id":"7a15911f.cace7","type":"inject","z":"91460ca4.ac405","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":520,"wires":[["fac3b962.a28588"]]},{"id":"62aff1b5.d29fe","type":"ui_gauge","z":"91460ca4.ac405","name":"","group":"c1b32d80.1efe8","order":1,"width":0,"height":0,"gtype":"gage","title":"Мощность","label":"Вт","format":"{{value}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":260,"wires":[]},{"id":"a19c5202.8534b","type":"ui_button","z":"91460ca4.ac405","name":"State","group":"c1b32d80.1efe8","order":11,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":670,"y":140,"wires":[["1be7987a.38d748"]]},{"id":"86d1868c.3db788","type":"function","z":"91460ca4.ac405","name":"","func":"var val = global.get(\"stove.state\");\nmsg.label = val == \"standby\" ? \"turn on\" : \"turn off\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["a19c5202.8534b"]]},{"id":"1be7987a.38d748","type":"function","z":"91460ca4.ac405","name":"","func":"var val = global.get(\"stove.state\");\nmsg.payload = val == \"standby\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["eeab1a76.d72a78"]]},{"id":"73a9c054.06d7d","type":"file in","z":"e80a4a7a.e85da8","name":"cpu-temp","filename":"/sys/devices/virtual/thermal/thermal_zone0/temp","format":"utf8","chunk":false,"sendError":false,"x":320,"y":40,"wires":[["8c41467f.f5aa78"]]},{"id":"c0282a3d.850778","type":"ui_text","z":"e80a4a7a.e85da8","group":"7527c183.d5a45","order":3,"width":0,"height":0,"name":"","label":"CPU Temp","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":670,"y":40,"wires":[]},{"id":"8c41467f.f5aa78","type":"function","z":"e80a4a7a.e85da8","name":"","func":"return {payload: msg.payload / 1000};","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["c0282a3d.850778"]]},{"id":"e4ff78a3.5f7ad8","type":"function","z":"33daaadd.09b7c6","name":"handle_temp_sensors7","func":"var registers = msg.payload;\nvar regA = registers[29]; \nvar regB = registers[30]; \nvar regC = registers[31]; \nvar regD = registers[32]; \nvar regE = registers[33]; \nvar regF = registers[34]; \nvar regG = registers[35]; \nvar regH = registers[36]; \n\nvar t1 = { payload: regA / 10 };\nvar t2 = { payload: regB / 10 };\nvar t3 = { payload: regC / 10 };\nvar t4 = { payload: regD / 10 };\nvar t5 = { payload: regE / 10, topic: \"bath\" };\nvar t6 = { payload: regF / 10, topic: \"childrensroom\" };\nvar t7 = { payload: regG / 10, topic: \"hall\" };\nvar t8 = { payload: regH / 10, topic: \"bedroom\"};\n\nglobal.set(\"temperature.bath\", t5.payload);\nglobal.set(\"temperature.childrensroom\", t6.payload);\nglobal.set(\"temperature.bedroom\", t8.payload);\nglobal.set(\"temperature.hall\", t7.payload);\n\n\nreturn [ t1, t2, t3, t4, t5, t6, t7, t8 ];","outputs":8,"noerr":0,"x":490,"y":960,"wires":[[],[],[],[],["d341413f.34cfd"],["65ff16c6.d90e28"],["fca7e853.441818"],["85b1ec18.83f57"]]},{"id":"fca7e853.441818","type":"ui_text","z":"33daaadd.09b7c6","group":"63d7c3a5.6bff0c","order":1,"width":0,"height":0,"name":"Текущая Холл","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":880,"y":1000,"wires":[]},{"id":"26dd8b7d.01a974","type":"ui_text","z":"33daaadd.09b7c6","group":"63d7c3a5.6bff0c","order":3,"width":0,"height":0,"name":"радиатор холл","label":"Радиатор","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":880,"y":420,"wires":[]},{"id":"75d63381.513bdc","type":"inject","z":"e80a4a7a.e85da8","name":"Радиатор холл","topic":"","payload":"hall.valve","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["1e64c8d9.a8d527"]]},{"id":"1e64c8d9.a8d527","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":500,"wires":[["817363d6.01e74"]]},{"id":"817363d6.01e74","type":"ui_text","z":"e80a4a7a.e85da8","group":"63d7c3a5.6bff0c","order":13,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":500,"wires":[]},{"id":"4be9567f.32c268","type":"ui_text","z":"33daaadd.09b7c6","group":"f74ca4ba.d62c98","order":4,"width":0,"height":0,"name":"радиатор ванная","label":"Радиатор","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":460,"wires":[]},{"id":"d341413f.34cfd","type":"ui_text","z":"33daaadd.09b7c6","group":"f74ca4ba.d62c98","order":1,"width":0,"height":0,"name":"Текущая Ванная","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":890,"y":920,"wires":[]},{"id":"65ff16c6.d90e28","type":"ui_text","z":"33daaadd.09b7c6","group":"7ce291e8.15156","order":1,"width":0,"height":0,"name":"Текущая детская","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":890,"y":960,"wires":[]},{"id":"52931408.80b14c","type":"inject","z":"e80a4a7a.e85da8","name":"Радиатор ванная","topic":"","payload":"bath.valve","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["f690111c.2a7ec"]]},{"id":"f690111c.2a7ec","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":540,"wires":[["750f79a2.a34d88"]]},{"id":"750f79a2.a34d88","type":"ui_text","z":"e80a4a7a.e85da8","group":"f74ca4ba.d62c98","order":5,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":540,"wires":[]},{"id":"6906e5ef.78357c","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":240,"wires":[["5395f29d.387dfc"]]},{"id":"a1d7e0d2.eeb11","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":280,"wires":[["5395f29d.387dfc"]]},{"id":"2ac0cec4.7cdb12","type":"inject","z":"fe938bd6.9d4098","name":"temperature.childrensroom","topic":"childrensroom","payload":"temperature.childrensroom","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["32e2c9c7.a51436"]]},{"id":"32e2c9c7.a51436","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":320,"wires":[["5395f29d.387dfc"]]},{"id":"7bffa4f6.66e9cc","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Детская","tooltip":"","group":"c149702.78ec99","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1030,"y":1120,"wires":[["b808d178.119c3"]]},{"id":"b808d178.119c3","type":"function","z":"a46938.05ec16c8","name":"write_light11","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 11 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1120,"wires":[["bd119aa2.9e7e48"]]},{"id":"52571b3d.8f7fa4","type":"link in","z":"2c9e8634.b263aa","name":"","links":["afe8e288.ad6da"],"x":75,"y":340,"wires":[["4a42ea48.3b1554","f2f9a3a7.6a5dc","5d843b64.f66164","d02e374.c7c7ac8","4a72a366.77b54c"]]},{"id":"e2804b74.4b07b8","type":"link out","z":"2c9e8634.b263aa","name":"","links":["f37981c4.ec54d"],"x":1335,"y":360,"wires":[]},{"id":"5d843b64.f66164","type":"function","z":"2c9e8634.b263aa","name":"handle_livingroom_desired_termostat","func":"var registers = msg.payload;\nvar regB = registers[6]; // desired\n\nvar desired_temp = { payload: regB / 10, topic: \"desired\" };\n\nglobal.set(\"living_room.desired\", desired_temp.payload);\nglobal.set(\"temperature.livingroom_desired\", desired_temp.payload);\n\nreturn desired_temp;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["183b4bb4.b90094"]]},{"id":"183b4bb4.b90094","type":"ui_numeric","z":"2c9e8634.b263aa","name":"Первый этаж желаемая","label":"Желаемая","tooltip":"","group":"ead13ce8.c01bc","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"18","max":"30","step":"0.5","x":750,"y":400,"wires":[["acd397d3.2cb818"]]},{"id":"acd397d3.2cb818","type":"function","z":"2c9e8634.b263aa","name":"write_desired_temp_living_room","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 6 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":400,"wires":[["e2804b74.4b07b8"]]},{"id":"d02e374.c7c7ac8","type":"function","z":"2c9e8634.b263aa","name":"handle_bedroom2f_desired_termostat","func":"var registers = msg.payload;\nvar reg = registers[8]; // desired\n\nvar desired_temp = { payload: reg / 10, topic: \"desired\" };\n\nglobal.set(\"temperature.bedroom_desired\", desired_temp.payload);\n\nreturn desired_temp;","outputs":"1","noerr":0,"x":370,"y":620,"wires":[["a0d38a02.648908"]]},{"id":"a0d38a02.648908","type":"ui_numeric","z":"2c9e8634.b263aa","name":"Спальня желаемая","label":"Желаемая","tooltip":"","group":"22ddd62c.de1dca","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"5","max":"25","step":"0.5","x":740,"y":620,"wires":[["78a129ab.678b08"]]},{"id":"78a129ab.678b08","type":"function","z":"2c9e8634.b263aa","name":"write_desired_temp_bedroom2f","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":620,"wires":[["e2804b74.4b07b8"]]},{"id":"f2f9a3a7.6a5dc","type":"function","z":"2c9e8634.b263aa","name":"handle_hall_desired_termostat","func":"var registers = msg.payload;\nvar regB = registers[7]; // desired\n\nvar desired_temp = { payload: regB / 10 };\n\nglobal.set(\"hall.desired\", desired_temp.payload);\nglobal.set(\"temperature.hall_desired\", desired_temp.payload);\n\nreturn desired_temp;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["60202196.ffacf"]]},{"id":"60202196.ffacf","type":"ui_numeric","z":"2c9e8634.b263aa","name":"Холл желаемая","label":"Желаемая","tooltip":"","group":"63d7c3a5.6bff0c","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"18","max":"25","step":"0.5","x":720,"y":360,"wires":[["9a05337.e9908d"]]},{"id":"9a05337.e9908d","type":"function","z":"2c9e8634.b263aa","name":"write_desired_temp_living_room","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 7 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":360,"wires":[["e2804b74.4b07b8"]]},{"id":"4a42ea48.3b1554","type":"function","z":"2c9e8634.b263aa","name":"handle_bath_desired_termostat","func":"var registers = msg.payload;\nvar regB = registers[9]; // desired\n\nvar desired_temp = { payload: regB / 10 };\n\nglobal.set(\"bath.desired\", desired_temp.payload);\nglobal.set(\"temperature.bath_desired\", desired_temp.payload);\n\nreturn desired_temp;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["d0a39526.b177c8"]]},{"id":"d0a39526.b177c8","type":"ui_numeric","z":"2c9e8634.b263aa","name":"Ванная желаемая","label":"Желаемая","tooltip":"","group":"f74ca4ba.d62c98","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"18","max":"25","step":"0.5","x":730,"y":180,"wires":[["a421e87d.dd92c8"]]},{"id":"a421e87d.dd92c8","type":"function","z":"2c9e8634.b263aa","name":"write_desired_bath_living_room","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":180,"wires":[["e2804b74.4b07b8"]]},{"id":"edc11fb.4bbdde","type":"bigtimer","z":"2c9e8634.b263aa","outtopic":"","outpayload1":"23","outpayload2":"21","name":"Temp","comment":"","lat":"59.910487700000004","lon":"30.770752899999998","starttime":"420","endtime":"60","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":270,"y":120,"wires":[["d0a39526.b177c8"],[],[]]},{"id":"992b9755.4d2638","type":"inject","z":"33daaadd.09b7c6","name":"3sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"","x":130,"y":400,"wires":[["d1972d0b.0d365"]]},{"id":"3b193a2e.4f8416","type":"modbus-flex-getter","z":"33daaadd.09b7c6","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ea6158bc.7d2b68","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":520,"wires":[["4773a777.4af548","9ee23c5f.92977","afe8e288.ad6da","ed90cab0.2774c8","e8ca8348.227f2","b23d1f84.3d46e","e4ff78a3.5f7ad8","22192f3a.a5c66"],[]]},{"id":"d1972d0b.0d365","type":"function","z":"33daaadd.09b7c6","name":"get_registers","func":"var out = {}; \n\nout.payload = { 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 37 }\nreturn out;","outputs":1,"noerr":0,"x":150,"y":460,"wires":[["3b193a2e.4f8416"]]},{"id":"afe8e288.ad6da","type":"link out","z":"33daaadd.09b7c6","name":"modbus_in","links":["5d9b357a.d929bc","52571b3d.8f7fa4"],"x":95,"y":580,"wires":[]},{"id":"46304862.cef778","type":"inject","z":"2c9e8634.b263aa","name":"7-00, 22C","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":290,"y":460,"wires":[[]]},{"id":"c0990e89.a045a","type":"inject","z":"2c9e8634.b263aa","name":"11-00, 21C","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":290,"y":500,"wires":[[]]},{"id":"1c8602fa.b7f63d","type":"inject","z":"2c9e8634.b263aa","name":"20-00, 23C","topic":"","payload":"23","payloadType":"num","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":290,"y":540,"wires":[[]]},{"id":"c9cc7202.e286b","type":"inject","z":"2c9e8634.b263aa","name":"00-00, 21C","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":290,"y":580,"wires":[[]]},{"id":"2cc01cff.890774","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"1эт Спальня 1","tooltip":"","group":"c149702.78ec99","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":1160,"wires":[["9f3239bf.53bb98"]]},{"id":"9f3239bf.53bb98","type":"function","z":"a46938.05ec16c8","name":"write_light12","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 12 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1160,"wires":[["bd119aa2.9e7e48"]]},{"id":"204e8928.599ce6","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"1эт Спальня 2","tooltip":"","group":"c149702.78ec99","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":1200,"wires":[["ee45f6a2.83ed18"]]},{"id":"ee45f6a2.83ed18","type":"function","z":"a46938.05ec16c8","name":"write_light13","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 13 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1200,"wires":[["bd119aa2.9e7e48"]]},{"id":"fee0d32e.bcbea","type":"inject","z":"a46938.05ec16c8","name":"полотенцесушитель","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":510,"y":960,"wires":[["a88ebe4b.55d6d"]]},{"id":"d3515300.c9e86","type":"ui_text","z":"33daaadd.09b7c6","group":"18c7b6b1.0674a9","order":3,"width":0,"height":0,"name":"","label":"ТЭН","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":240,"wires":[]},{"id":"22192f3a.a5c66","type":"function","z":"33daaadd.09b7c6","name":"handle_coolant_boiler","func":"var registers = msg.payload;\n\nvar state = registers[18];\nvar desired_temp = registers[5];\n\nvar out0 = { payload: state };\nvar out1 = { payload: desired_temp / 10};\n\nreturn [out0, out1];","outputs":2,"noerr":0,"x":480,"y":100,"wires":[["5925dd2c.076a64"],["f09f115c.e420b"]]},{"id":"5925dd2c.076a64","type":"ui_dropdown","z":"33daaadd.09b7c6","name":"","label":"Режим","tooltip":"","place":"Select option","group":"18c7b6b1.0674a9","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"выкл","value":0,"type":"num"},{"label":"вкл","value":1,"type":"num"},{"label":"авто","value":"2","type":"str"}],"payload":"","topic":"","x":860,"y":40,"wires":[["c085f577.b1efd8"]]},{"id":"c085f577.b1efd8","type":"function","z":"33daaadd.09b7c6","name":"write_coolant_boiler_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":40,"wires":[["e45fafe8.ecbe5"]]},{"id":"a57aee1b.30f02","type":"function","z":"33daaadd.09b7c6","name":"write_boiler_desired_temp","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 5 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":80,"wires":[["e45fafe8.ecbe5"]]},{"id":"f09f115c.e420b","type":"ui_numeric","z":"33daaadd.09b7c6","name":"Желаемая","label":"Желаемая","tooltip":"","group":"18c7b6b1.0674a9","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"10","max":"70","step":"1","x":870,"y":80,"wires":[["a57aee1b.30f02"]]},{"id":"3008a84.b915e58","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":5,"width":0,"height":0,"name":"","label":"Теплоноситель обратка","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":910,"y":740,"wires":[]},{"id":"2f494faf.a475d","type":"inject","z":"e80a4a7a.e85da8","name":"Электрокотел","topic":"","payload":"coolant_boiler.state","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["1556377f.4ecf99"]]},{"id":"1556377f.4ecf99","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":580,"wires":[["544718dd.5cb2e8"]]},{"id":"544718dd.5cb2e8","type":"ui_text","z":"e80a4a7a.e85da8","group":"18c7b6b1.0674a9","order":5,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":580,"wires":[]},{"id":"9484bf6b.05d01","type":"MiLight","z":"a46938.05ec16c8","name":"MiLight","bridgetype":"v6","bulbtype":"rgbw","zone":"1","ip":"192.168.0.204","broadcast":false,"x":1690,"y":1420,"wires":[]},{"id":"bbb34fb5.dd873","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":1420,"wires":[["9484bf6b.05d01"]]},{"id":"b5112334.98779","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":1460,"wires":[["9484bf6b.05d01"]]},{"id":"f924e9ef.13df38","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":1500,"wires":[["9484bf6b.05d01"]]},{"id":"e1f01c9.e2226e","type":"function","z":"a46938.05ec16c8","name":"handle_rgb_color","func":"function lerp (start, end, amt)\n{\n  return (1 - amt) * start + amt * end;\n}\n\nfunction normalize(val, max, min) \n{\n    if(val > max)\n    {\n        return 1;\n    }\n    \n    if(val < min)\n    {\n        return 0;\n    }\n    \n    return (val - min) / (max - min);\n}\n\n\nvar temp = global.get(\"boiler.cur\");\n//var cur = context.get(\"cur\");\n\nvar cold_color = 40;\nvar warm_color = 165;\n\n\nvar temp_factor = global.get(\"boiler.progress\"); //Math.min(1, Math.max(0, normalize(temp, 50, 20)));\nvar cur_color = lerp(cold_color, warm_color, temp_factor);\ncur_color = Math.round(cur_color);\n\nvar out = { payload: cur_color, topic: \"color\" }\n\nreturn out;","outputs":1,"noerr":0,"x":1340,"y":1580,"wires":[[]]},{"id":"5323a68c.89cc28","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":1620,"wires":[["9e272f2e.38983"]]},{"id":"9e272f2e.38983","type":"function","z":"a46938.05ec16c8","name":"handle_rgb_bright","func":"var light = global.get(\"hall.light\");\nvar sun = flow.get(\"sun\");\nvar out = { payload: (light || sun) ? 100 : 30, topic: \"brightness\" }\n\nreturn out;","outputs":1,"noerr":0,"x":1340,"y":1620,"wires":[["34e48f27.98019","9484bf6b.05d01"]]},{"id":"34e48f27.98019","type":"debug","z":"a46938.05ec16c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1700,"y":1680,"wires":[]},{"id":"61cfb68b.e1c6f8","type":"bigtimer","z":"a46938.05ec16c8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"59.905347","lon":"30.737367","starttime":"5003","endtime":"5004","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":470,"y":1020,"wires":[[],["7f4a1eeb.a3769"],[]]},{"id":"7f4a1eeb.a3769","type":"function","z":"a46938.05ec16c8","name":"","func":"flow.set(\"sun\", msg.payload == 1 ? true : false);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1100,"wires":[[]]},{"id":"7ac1f7f.01ec708","type":"range","z":"a46938.05ec16c8","minin":"20","maxin":"50","minout":"40","maxout":"165","action":"clamp","round":true,"property":"payload","name":"","x":1310,"y":1760,"wires":[["4e8ca8a7.5d9768","9484bf6b.05d01"]]},{"id":"dbb29035.3fe2d","type":"inject","z":"a46938.05ec16c8","name":"","topic":"color","payload":"boiler.cur","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":1760,"wires":[["7ac1f7f.01ec708"]]},{"id":"4e8ca8a7.5d9768","type":"debug","z":"a46938.05ec16c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1700,"y":1760,"wires":[]},{"id":"aa702358.5508e","type":"rbe","z":"a46938.05ec16c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1040,"y":1560,"wires":[["9e272f2e.38983"]]},{"id":"a2065555.5a6098","type":"bigtimer","z":"33daaadd.09b7c6","outtopic":"","outpayload1":"1","outpayload2":"2","name":"Boiler Electro","comment":"","lat":"59.934280","lon":"30.335099","starttime":"1380","endtime":"420","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":450,"y":40,"wires":[[],[],[]]},{"id":"95c951b4.9e768","type":"inject","z":"33daaadd.09b7c6","name":"7-00 mode 3 coolant","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":480,"y":520,"wires":[[]]},{"id":"a60e3bc5.0a60b8","type":"inject","z":"33daaadd.09b7c6","name":"23-00 mode 2 electro","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":480,"y":560,"wires":[[]]},{"id":"24c908d9.a76a88","type":"mosca in","z":"33daaadd.09b7c6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[["ba59c0e5.527d7"]]},{"id":"ba59c0e5.527d7","type":"debug","z":"33daaadd.09b7c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":80,"wires":[]},{"id":"49f1e957.912b68","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light7/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1440,"wires":[["2449c393.87745c"]]},{"id":"2449c393.87745c","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1440,"wires":[["a90402c3.705b1"]]},{"id":"c35e241.023add8","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light5/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1400,"wires":[["78ee98bc.0ebe08"]]},{"id":"78ee98bc.0ebe08","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1400,"wires":[["1bc565b7.52e6ea"]]},{"id":"f748b405.f93788","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light3/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1360,"wires":[["68777ed9.8094f"]]},{"id":"68777ed9.8094f","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1360,"wires":[["d06c908b.0b277"]]},{"id":"c4f9decf.e9b33","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light10/on","qos":"2","broker":"f144d12e.d7051","x":430,"y":1520,"wires":[["8eb5b3fc.8b67b"]]},{"id":"8eb5b3fc.8b67b","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1520,"wires":[["913b704d.111ab"]]},{"id":"732c314a.f8c9f","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light11/on","qos":"2","broker":"f144d12e.d7051","x":430,"y":1560,"wires":[["6f8394fa.5fc9bc"]]},{"id":"6f8394fa.5fc9bc","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1560,"wires":[["7bffa4f6.66e9cc"]]},{"id":"d3fc22d1.3e57c","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light2/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1320,"wires":[["1bea85e1.6e146a"]]},{"id":"1bea85e1.6e146a","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1320,"wires":[["8c66c954.2e24b8"]]},{"id":"a12a69f4.3bd658","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light1/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1280,"wires":[["6e089d0e.5de814"]]},{"id":"6e089d0e.5de814","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1280,"wires":[["753358cd.5a4708"]]},{"id":"3cad502f.dfbf7","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light9/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1480,"wires":[["c911d429.23abb8"]]},{"id":"c911d429.23abb8","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1480,"wires":[["4c98972d.8256a8"]]},{"id":"e14ae710.04dcd8","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light0/on","qos":"2","broker":"f144d12e.d7051","x":420,"y":1240,"wires":[["448ae08e.a14db"]]},{"id":"448ae08e.a14db","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1240,"wires":[["4dd9d426.e5f93c","1432e0f4.a2afef"]]},{"id":"5026048f.a137fc","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light0","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1680,"wires":[]},{"id":"71d9fbf0.9f1ab4","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.0","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1680,"wires":[["5026048f.a137fc"]]},{"id":"3ea2d59a.f7132a","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light1","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1720,"wires":[]},{"id":"48335732.2526a8","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.1","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1720,"wires":[["3ea2d59a.f7132a"]]},{"id":"4cd69f07.32be6","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light2","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1760,"wires":[]},{"id":"c67cab85.6c46f8","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.2","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1760,"wires":[["4cd69f07.32be6"]]},{"id":"e79e716c.32ea","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light3","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1800,"wires":[]},{"id":"cd03277b.18ad28","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.3","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1800,"wires":[["e79e716c.32ea"]]},{"id":"ea8f5442.3ba918","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light5","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1840,"wires":[]},{"id":"f5760453.b2d698","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.5","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1840,"wires":[["ea8f5442.3ba918"]]},{"id":"89e2d12c.ad3b2","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light7","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1880,"wires":[]},{"id":"42591c7e.5995b4","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.7","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1880,"wires":[["89e2d12c.ad3b2"]]},{"id":"14eb55bf.8d0eea","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light9","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1920,"wires":[]},{"id":"80d225ad.3fbc38","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.9","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1920,"wires":[["14eb55bf.8d0eea"]]},{"id":"8530f39.cc1711","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light10","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":1960,"wires":[]},{"id":"d448c8b9.bf0408","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.10","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1960,"wires":[["8530f39.cc1711"]]},{"id":"efbcb5a9.3a2958","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light11","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":2000,"wires":[]},{"id":"41825b43.079a94","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.11","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":2000,"wires":[["efbcb5a9.3a2958"]]},{"id":"351b097c.7f6e66","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Туалет","tooltip":"","group":"c149702.78ec99","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1030,"y":1240,"wires":[["c045cdc1.15ac5"]]},{"id":"c045cdc1.15ac5","type":"function","z":"a46938.05ec16c8","name":"write_light14","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 14 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1240,"wires":[["bd119aa2.9e7e48"]]},{"id":"6197bc2f.294224","type":"mqtt in","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light14/on","qos":"2","broker":"f144d12e.d7051","x":430,"y":1600,"wires":[["5bfd585c.afcf28"]]},{"id":"5bfd585c.afcf28","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1600,"wires":[["351b097c.7f6e66"]]},{"id":"8c0aea02.2327b8","type":"mqtt out","z":"a46938.05ec16c8","name":"","topic":"/devices/yandex/controls/light14","qos":"","retain":"","broker":"f144d12e.d7051","x":620,"y":2040,"wires":[]},{"id":"ddaba766.885b98","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"light.14","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":2040,"wires":[["8c0aea02.2327b8"]]},{"id":"9a11fa97.899a98","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":4,"width":0,"height":0,"name":"","label":"Дымоход","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":860,"y":780,"wires":[]},{"id":"87a0eb52.393d88","type":"inject","z":"fe938bd6.9d4098","name":"temperature.chimney","topic":"chimney","payload":"temperature.chimney","payloadType":"global","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["38ba2d3a.069722"]]},{"id":"38ba2d3a.069722","type":"rbe","z":"fe938bd6.9d4098","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":380,"wires":[["a842a09a.5453b"]]},{"id":"7bace29f.b4a35c","type":"ui_text","z":"33daaadd.09b7c6","group":"18c7b6b1.0674a9","order":5,"width":0,"height":0,"name":"","label":"Теплоноситель","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":1120,"y":740,"wires":[]},{"id":"c0c5b362.be6dd","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Вентиляция","tooltip":"","group":"f482c3dc.e7e9","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":340,"wires":[["cf8aeb60.2a0fd8"]]},{"id":"cf8aeb60.2a0fd8","type":"function","z":"a46938.05ec16c8","name":"write_main_fan","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 18, 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":340,"wires":[["bd119aa2.9e7e48"]]},{"id":"d418311d.ded7c","type":"inject","z":"2c9e8634.b263aa","name":"23-00, 20C","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":290,"y":320,"wires":[[]]},{"id":"782daf7.fd04d5","type":"inject","z":"2c9e8634.b263aa","name":"7-00, 22C","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":290,"y":280,"wires":[[]]},{"id":"2553da34.8423b6","type":"ui_text","z":"33daaadd.09b7c6","group":"7ce291e8.15156","order":4,"width":0,"height":0,"name":"радиатор детская","label":"Радиатор","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":500,"wires":[]},{"id":"4a72a366.77b54c","type":"function","z":"2c9e8634.b263aa","name":"handle_bedroom2f_desired_termostat","func":"var registers = msg.payload;\nvar reg = registers[19]; // desired\n\nvar desired_temp = { payload: reg / 10, topic: \"desired\" };\n\nglobal.set(\"temperature.children_room_desired\", desired_temp.payload);\n\nreturn desired_temp;","outputs":"1","noerr":0,"x":370,"y":680,"wires":[["c7d2b11e.9813a"]]},{"id":"c7d2b11e.9813a","type":"ui_numeric","z":"2c9e8634.b263aa","name":"Детская желаемая","label":"Желаемая","tooltip":"","group":"7ce291e8.15156","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"5","max":"25","step":"0.5","x":730,"y":680,"wires":[["1ad95e13.f21a22"]]},{"id":"1ad95e13.f21a22","type":"function","z":"2c9e8634.b263aa","name":"write_desired_temp_childer_room","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 19 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":680,"wires":[["e2804b74.4b07b8"]]},{"id":"5f38a6cd.02bd38","type":"inject","z":"e80a4a7a.e85da8","name":"Радиатор детская","topic":"","payload":"childrenroom.valve","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["c90d441.5a884b8"]]},{"id":"c90d441.5a884b8","type":"uptime","z":"e80a4a7a.e85da8","name":"","x":430,"y":620,"wires":[["e9f1a174.ca02b"]]},{"id":"e9f1a174.ca02b","type":"ui_text","z":"e80a4a7a.e85da8","group":"7ce291e8.15156","order":5,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.uptime_hr | number:2}} ч","layout":"row-spread","x":700,"y":620,"wires":[]},{"id":"e89f525d.e78b7","type":"simpletime","z":"33daaadd.09b7c6","name":"","x":870,"y":1200,"wires":[["f3fb975f.d3e458"]]},{"id":"4cd28ed.6009e7","type":"inject","z":"33daaadd.09b7c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1200,"wires":[["e89f525d.e78b7"]]},{"id":"995a76df.e0d998","type":"debug","z":"33daaadd.09b7c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1310,"y":1200,"wires":[]},{"id":"f3fb975f.d3e458","type":"function","z":"33daaadd.09b7c6","name":"write_plc_time","func":"// var val = context.get('val');\n// context.set('val', msg.payload);\n// \n// if(val == msg.payload)\n// {\n    // return null;\n// }\n\n\n//var hours = (regA & 0xFF00) >> 8;\n// var minutes = regA & 0x00FF;\n\nvar hours = parseInt(msg.myhour);\nvar minutes = parseInt(msg.myminute);\n\nvar payload = 0x0000;\npayload = (hours << 8) | minutes;\n\nmsg.payload = { value: payload, 'fc': 6, 'unitid': 1, 'address': 20 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1200,"wires":[["995a76df.e0d998","e45fafe8.ecbe5"]]},{"id":"c23d9729.9a3dd8","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Уличное освещение","tooltip":"","group":"c149702.78ec99","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1070,"y":1280,"wires":[["7af62e8a.8ea32"]]},{"id":"7af62e8a.8ea32","type":"function","z":"a46938.05ec16c8","name":"write_light14","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 15 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1280,"wires":[["bd119aa2.9e7e48"]]},{"id":"e5bc6f16.80d02","type":"MiLight","z":"a46938.05ec16c8","name":"MiLight","bridgetype":"v6","bulbtype":"rgbw","zone":"2","ip":"192.168.0.204","broadcast":false,"x":1720,"y":60,"wires":[]},{"id":"a3803433.0295c8","type":"range","z":"a46938.05ec16c8","minin":"0","maxin":"5500","minout":"40","maxout":"170","action":"clamp","round":true,"property":"payload","name":"","x":1220,"y":40,"wires":[["1efc553b.c0736b"]]},{"id":"793675be.1f598c","type":"rbe","z":"a46938.05ec16c8","name":"","func":"deadband","gap":"50","start":"","inout":"out","property":"payload","x":1050,"y":40,"wires":[["a3803433.0295c8"]]},{"id":"7d460526.54dcac","type":"inject","z":"a46938.05ec16c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":80,"wires":[["db938ba5.c99738"]]},{"id":"db938ba5.c99738","type":"function","z":"a46938.05ec16c8","name":"handle_rgb_bright","func":"var sun = flow.get(\"sun\");\nvar out = { payload: sun ? 100 : 60, topic: \"brightness\" }\n\nreturn out;","outputs":1,"noerr":0,"x":1250,"y":80,"wires":[["e5bc6f16.80d02"]]},{"id":"2e778483.cf50bc","type":"debug","z":"a46938.05ec16c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1710,"y":120,"wires":[]},{"id":"1efc553b.c0736b","type":"change","z":"a46938.05ec16c8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"color","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":40,"wires":[["e5bc6f16.80d02","2e778483.cf50bc"]]},{"id":"cd2a632e.3f8c5","type":"inject","z":"a46938.05ec16c8","name":"Fan On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":800,"y":320,"wires":[["c0c5b362.be6dd"]]},{"id":"3d1fb87c.9077f8","type":"inject","z":"a46938.05ec16c8","name":"Fan Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":800,"y":360,"wires":[["c0c5b362.be6dd"]]}]