flows_orangepione.json
[{"id":"33daaadd.09b7c6","type":"tab","label":"main","disabled":false,"info":""},{"id":"a46938.05ec16c8","type":"tab","label":"Light","disabled":false,"info":""},{"id":"e80a4a7a.e85da8","type":"tab","label":"meters","disabled":false,"info":""},{"id":"ead13ce8.c01bc","type":"ui_group","z":"","name":"Первый этаж","tab":"3dd5adbe.638ec2","order":7,"disp":true,"width":"6","collapse":false},{"id":"5e71a7a8.4cbe38","type":"ui_group","z":"","name":"Бойлер","tab":"3dd5adbe.638ec2","order":3,"disp":true,"width":"6"},{"id":"5fa85ba9.dbbfd4","type":"ui_group","z":"","name":"Group 1","tab":"94462895.b4bea8","order":2,"disp":false,"width":"10","collapse":false},{"id":"c1b32d80.1efe8","type":"ui_group","z":"","name":"Пеллетный Котел","tab":"3dd5adbe.638ec2","order":2,"disp":true,"width":"6"},{"id":"22ddd62c.de1dca","type":"ui_group","z":"","name":"Спальня","tab":"3dd5adbe.638ec2","order":8,"disp":true,"width":"6"},{"id":"bbec1b44.ad6998","type":"ui_tab","z":"","name":"Отопление","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3dd5adbe.638ec2","type":"ui_tab","z":"","name":"Основная","icon":"dashboard","order":2},{"id":"94462895.b4bea8","type":"ui_tab","z":"","name":"Графики","icon":"dashboard","order":4},{"id":"d83a05f1.6e93f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f482c3dc.e7e9","type":"ui_group","z":"","name":"Электропитание","tab":"3dd5adbe.638ec2","order":1,"disp":true,"width":"6"},{"id":"c149702.78ec99","type":"ui_group","z":"","name":"Свет","tab":"3dd5adbe.638ec2","order":4,"disp":true,"width":"6"},{"id":"ea6158bc.7d2b68","type":"modbus-client","z":"33daaadd.09b7c6","name":"plc","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.50","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"7527c183.d5a45","type":"ui_group","z":"","name":"System","tab":"3dd5adbe.638ec2","order":6,"disp":true,"width":"6","collapse":false},{"id":"846f2461.8e4628","type":"function","z":"33daaadd.09b7c6","name":"handle_livingroom_desired_termostat","func":"var registers = msg.payload;\nvar regA = registers[11]; // cur\nvar regB = registers[6]; // desired\n\nvar cur_temp = { payload: regA / 10, topic: \"cur\" };\nvar desired_temp = { payload: regB / 10, topic: \"desired\" };\n\nglobal.set(\"living_room.cur\", cur_temp.payload);\nglobal.set(\"living_room.desired\", desired_temp.payload);\n\nreturn [ cur_temp, desired_temp];","outputs":"2","noerr":0,"x":490,"y":220,"wires":[[],["7e4dcbbd.08cc24"]]},{"id":"992b9755.4d2638","type":"inject","z":"33daaadd.09b7c6","name":"3sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"","x":90,"y":240,"wires":[["d1972d0b.0d365","c934fdb5.6527e"]]},{"id":"e45fafe8.ecbe5","type":"modbus-flex-write","z":"33daaadd.09b7c6","name":"","showStatusActivities":true,"showErrors":false,"server":"ea6158bc.7d2b68","x":1430,"y":560,"wires":[[],[]]},{"id":"3b193a2e.4f8416","type":"modbus-flex-getter","z":"33daaadd.09b7c6","name":"","showStatusActivities":true,"showErrors":true,"server":"ea6158bc.7d2b68","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":360,"wires":[["846f2461.8e4628","4773a777.4af548","9ee23c5f.92977","afe8e288.ad6da","ed90cab0.2774c8","e8ca8348.227f2","c0c71db6.cae39"],[]]},{"id":"d1972d0b.0d365","type":"function","z":"33daaadd.09b7c6","name":"get_registers","func":"var out = {}; \n\nout.payload = { 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 29 }\nreturn out;","outputs":1,"noerr":0,"x":110,"y":300,"wires":[["3b193a2e.4f8416"]]},{"id":"7e4dcbbd.08cc24","type":"ui_numeric","z":"33daaadd.09b7c6","name":"","label":"Желаемая","group":"ead13ce8.c01bc","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"18","max":"25","step":"0.1","x":830,"y":220,"wires":[["fa9e7e70.fcf8e"]]},{"id":"c7fb5fd6.8f303","type":"ui_text","z":"33daaadd.09b7c6","group":"ead13ce8.c01bc","order":1,"width":0,"height":0,"name":"","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":820,"y":1040,"wires":[]},{"id":"fa9e7e70.fcf8e","type":"function","z":"33daaadd.09b7c6","name":"write_desired_temp_living_room","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 6 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1155,"y":221,"wires":[["e45fafe8.ecbe5"]]},{"id":"4773a777.4af548","type":"function","z":"33daaadd.09b7c6","name":"handle_temp_sensors","func":"var registers = msg.payload;\nvar regA = registers[10]; \nvar regB = registers[11]; \nvar regC = registers[12]; \nvar regD = registers[13]; \nvar regE = registers[14]; \nvar regF = registers[15]; \nvar regG = registers[16]; \nvar regH = registers[17]; \n\nvar t1 = { payload: regA / 10, topic: \"boiler_raw\", measurement: \"boiler\" };\nvar t2 = { payload: regB / 10, topic: \"livingroom\", measurement: \"livingroom\" };\nvar t3 = { payload: regC / 10, topic: \"coolant\",  measurement: \"coolant\" };\nvar t4 = { payload: regD / 10, topic: \"bath_floor\"};\nvar t5 = { payload: regE / 10, topic: \"bedroom\", measurement: \"bedroom\" };\nvar t6 = { payload: regF / 10 };\nvar t7 = { payload: regG / 10 };\nvar t8 = { payload: regH / 10 };\n\nglobal.set(\"boiler.cur\", t1.payload);\n\nvar measuremet = {\n    \"boiler\" : regA, \n    \"livingroom\" : regB,\n    \"coolant\": regC,\n    \"bedroom\": regE\n}\n    \nvar out_db = { payload: measuremet, measurement: \"temperature\" }\n\nreturn [ t1, t2, t3, t4, t5, t6, t7, t8, out_db ];","outputs":9,"noerr":0,"x":440,"y":1100,"wires":[[],["c7fb5fd6.8f303","cc6c2892.590508"],["477cb7c0.b88658","94906a22.897c58"],[],["85b1ec18.83f57","dae917d7.78eed8"],[],[],[],[]]},{"id":"9ee23c5f.92977","type":"function","z":"33daaadd.09b7c6","name":"handle_boiler","func":"var registers = msg.payload;\n\nvar desired_temp = registers[26];\nvar cur_temp = registers[27];\nvar state = registers[28];\n\nvar msg1 = { payload: state };\nvar msg2 = { payload: desired_temp / 10, enabled: state != 3 };\nvar msg3 = { payload: cur_temp / 10, topic: \"boiler\" };\n\n\nglobal.set(\"boiler.desired\", msg2.payload);\nglobal.set(\"boiler.state\", msg1.payload);\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":425,"y":901,"wires":[["223f9606.68f48a"],["f53fa42a.52c698"],["ad5dc25f.74aed","f62d32b5.437d8"]]},{"id":"ad5dc25f.74aed","type":"ui_gauge","z":"33daaadd.09b7c6","name":"","group":"5e71a7a8.4cbe38","order":1,"width":0,"height":0,"gtype":"gage","title":"Температура","label":"С","format":"{{value}}","min":0,"max":"60","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"","seg2":"","x":840,"y":960,"wires":[]},{"id":"33042055.fc625","type":"ui_chart","z":"33daaadd.09b7c6","name":"","group":"5fa85ba9.dbbfd4","order":3,"width":0,"height":0,"label":"Бойлер","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#00ff00","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":860,"y":1300,"wires":[[],[]]},{"id":"94906a22.897c58","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":1341,"wires":[["33042055.fc625"]]},{"id":"f53fa42a.52c698","type":"ui_numeric","z":"33daaadd.09b7c6","name":"Желаемая","label":"Желаемая","group":"5e71a7a8.4cbe38","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"10","max":"70","step":"1","x":830,"y":920,"wires":[["5edb148f.e1e27c"]]},{"id":"5edb148f.e1e27c","type":"function","z":"33daaadd.09b7c6","name":"write_boiler_desired_temp","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 26 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1145,"y":921,"wires":[["e45fafe8.ecbe5"]]},{"id":"3fe516cd.700d9a","type":"inject","z":"33daaadd.09b7c6","name":"5sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":90,"y":1460,"wires":[["d313b41d.533168"]]},{"id":"d313b41d.533168","type":"http request","z":"33daaadd.09b7c6","name":"","method":"GET","ret":"txt","url":"http://192.168.0.200/status.xml","tls":"","x":110,"y":1520,"wires":[["dc08226e.2783a"]]},{"id":"dc08226e.2783a","type":"xml","z":"33daaadd.09b7c6","name":"","attr":"","chr":"","x":90,"y":1580,"wires":[["5f56e8f9.4794d8"]]},{"id":"5f56e8f9.4794d8","type":"function","z":"33daaadd.09b7c6","name":"handle_stove","func":"var tk = parseInt(msg.payload.response.val0[0]);\nvar to = parseInt(msg.payload.response.val1[0]);\nvar power_int = msg.payload.response.val2[0];\nvar power_dec = msg.payload.response.val10[0];\nvar t_desired = msg.payload.response.val8[0];\nvar consumption = msg.payload.response.val3[0] / 10;\nvar mode_val = msg.payload.response.val5[0];\nvar mode = \"-\";\n\n\nswitch(mode_val)\n{\n    case \"0\":\n        mode = \"standby\";\n        break;\n    case \"1\":\n        mode = \"lighting\";\n        break;\n    case \"2\":\n        mode = \"heating\";\n        break;\n    case \"3\":\n        mode = \"stopping\";\n        break;\n    case \"4\":\n        mode = \"electro\";\n        break;\n}\n\n\nvar power = 1000 * (parseInt(power_int) + parseInt(power_dec) / 10);\n\nglobal.set(\"stove.tk\", tk);\nglobal.set(\"stove.to\", to);\nglobal.set(\"stove.power\", power);\nglobal.set(\"stove.desired\", t_desired);\nglobal.set(\"stove.consumption\", consumption);\n\nvar out1 = { payload: tk, topic: \"stove\", measurement: \"stove\" };\nvar out2 = { payload: to, topic: \"stove_back\", measurement: \"stove_back\" };\nvar out3 = { payload: power, measurement: \"stove_power\" };\nvar out4 = { payload: t_desired };\nvar out5 = { payload: consumption, measurement: \"stove_consumption\" };\nvar out6 = { payload: mode };\n\nreturn [out1, out2, out3, out4, out5, out6]","outputs":"6","noerr":0,"x":410,"y":1580,"wires":[["7f7b8e8.26edb7","b603f68e.bf9da8"],["2c38064a.c079ea","1a59dd88.009922"],[],["41b367fd.142028"],["8453fd17.69de2","283bbf61.4c352"],["8592a791.5bb1f8"]]},{"id":"b603f68e.bf9da8","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":9,"width":0,"height":0,"name":"","label":"Котел","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":810,"y":1460,"wires":[]},{"id":"7f7b8e8.26edb7","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":1381,"wires":[["33042055.fc625"]]},{"id":"2c38064a.c079ea","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":1421,"wires":[["33042055.fc625"]]},{"id":"a5a85b07.6d2d58","type":"http request","z":"33daaadd.09b7c6","name":"","method":"use","ret":"txt","url":"","tls":"","x":1390,"y":1600,"wires":[[]]},{"id":"d7ca1fb9.8cdfd","type":"function","z":"33daaadd.09b7c6","name":"write_stove_temp","func":"var temp = parseInt(msg.payload) + 48;\n\nvar req = {};\nreq.url = \"http://192.168.0.200/d.cgi?p=56&v=\" + temp;\nreq.method = \"GET\";\nreturn req;","outputs":1,"noerr":0,"x":1150,"y":1540,"wires":[["a5a85b07.6d2d58"]]},{"id":"1a59dd88.009922","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":10,"width":0,"height":0,"name":"","label":"Обратка","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":820,"y":1500,"wires":[]},{"id":"41b367fd.142028","type":"ui_numeric","z":"33daaadd.09b7c6","name":"","label":"Заданная","group":"c1b32d80.1efe8","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"30","max":"60","step":1,"x":820,"y":1540,"wires":[["d7ca1fb9.8cdfd"]]},{"id":"223f9606.68f48a","type":"ui_dropdown","z":"33daaadd.09b7c6","name":"","label":"Режим","place":"Select option","group":"5e71a7a8.4cbe38","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"выкл","value":0,"type":"num"},{"label":"авто","value":1,"type":"num"},{"label":"электро","value":"2","type":"str"},{"label":"котел","value":"3","type":"str"},{"label":"турбо","value":"4","type":"str"}],"payload":"","topic":"","x":810,"y":880,"wires":[["3316d85e.519c98"]]},{"id":"3316d85e.519c98","type":"function","z":"33daaadd.09b7c6","name":"write_boiler_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 28 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1115,"y":881,"wires":[["e45fafe8.ecbe5"]]},{"id":"f37981c4.ec54d","type":"link in","z":"33daaadd.09b7c6","name":"modbus_out","links":["bd119aa2.9e7e48"],"x":1355,"y":500,"wires":[["e45fafe8.ecbe5"]]},{"id":"afe8e288.ad6da","type":"link out","z":"33daaadd.09b7c6","name":"modbus_in","links":["5d9b357a.d929bc"],"x":55,"y":420,"wires":[]},{"id":"ed90cab0.2774c8","type":"function","z":"33daaadd.09b7c6","name":"handle_ro_states","func":"var registers = msg.payload;\nvar reg = registers[2];\nvar s0 = reg & 1         // electro boiler\nvar s1 = (reg >> 1) & 1; // pellet boiler\nvar s2 = (reg >> 2) & 1; // water boiler\nvar s3 = (reg >> 3) & 1; // livingroom termostat\nvar s4 = (reg >> 4) & 1; // 2f bedroom termostat\n\nvar power = global.get(\"electro.power\")  || 0;\nglobal.set(\"boiler.power\", (s2 == 1 && power > 2100) ? 2100 : 0);\nglobal.set(\"stove.eco_mode\", s1 == 1 ? \"normal\" : \"economy\");\n\n\nvar out0 = { payload: s0 == 1 ? \"on\" : \"off\"};\nvar out1 = { payload: s1 == 1 ? \"on\" : \"off\"};\nvar out2 = { payload: s2 == 1 ? \"on\" : \"off\"};\nvar out3 = { payload: s3 == 1 ? \"on\" : \"off\"};\nvar out4 = { payload: s4 == 1 ? \"on\" : \"off\"};\n\nreturn [out0, out1, out2, out3, out4];","outputs":"5","noerr":0,"x":435,"y":621,"wires":[[],[],["61984230.cc2b5c"],[],[]]},{"id":"61984230.cc2b5c","type":"ui_text","z":"33daaadd.09b7c6","group":"5e71a7a8.4cbe38","order":3,"width":0,"height":0,"name":"","label":"ТЭН","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"e8ca8348.227f2","type":"function","z":"33daaadd.09b7c6","name":"handle_pumps_states","func":"var registers = msg.payload;\nvar reg = registers[3];\nvar p0 = reg & 1         // water boiler pump\nvar p1 = (reg >> 1) & 1; // warm floor pump\nvar p2 = (reg >> 2) & 1; // bedroom 2f valve\n\nvar out0 = { payload: p0 == 1 ? \"open\" : \"closed\"};\nvar out1 = { payload: p1 == 1 ? \"on\" : \"off\"};\nvar out2 = { payload: p2 == 1 ? \"closed\" : \"open\"};\n\n\nreturn [out0, out1, out2];","outputs":3,"noerr":0,"x":440,"y":740,"wires":[["4cbdd3a0.a666cc"],["5a25c63b.18b728"],["24e78d7e.46b692"]]},{"id":"4cbdd3a0.a666cc","type":"ui_text","z":"33daaadd.09b7c6","group":"5e71a7a8.4cbe38","order":2,"width":0,"height":0,"name":"клапан на бойлере","label":"Кран","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":720,"wires":[]},{"id":"5a25c63b.18b728","type":"ui_text","z":"33daaadd.09b7c6","group":"ead13ce8.c01bc","order":2,"width":0,"height":0,"name":"насос тп","label":"Насос","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":760,"wires":[]},{"id":"477cb7c0.b88658","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":8,"width":0,"height":0,"name":"","label":"Теплоноситель","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":840,"y":1080,"wires":[]},{"id":"24e78d7e.46b692","type":"ui_text","z":"33daaadd.09b7c6","group":"22ddd62c.de1dca","order":0,"width":0,"height":0,"name":"радиатор спальня 2","label":"Радиатор","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":800,"wires":[]},{"id":"c0c71db6.cae39","type":"function","z":"33daaadd.09b7c6","name":"handle_bedroom2f_desired_termostat","func":"var registers = msg.payload;\nvar reg = registers[8]; // desired\n\nvar desired_temp = { payload: reg / 10, topic: \"desired\" };\n\nreturn desired_temp;","outputs":"1","noerr":0,"x":490,"y":340,"wires":[["367f6718.5ce1b8"]]},{"id":"85b1ec18.83f57","type":"ui_text","z":"33daaadd.09b7c6","group":"22ddd62c.de1dca","order":1,"width":0,"height":0,"name":"","label":"Текущая","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":820,"y":1160,"wires":[]},{"id":"367f6718.5ce1b8","type":"ui_numeric","z":"33daaadd.09b7c6","name":"","label":"Желаемая","group":"22ddd62c.de1dca","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;С","min":"5","max":"25","step":"0.1","x":830,"y":340,"wires":[["c143e840.83a7c8"]]},{"id":"c143e840.83a7c8","type":"function","z":"33daaadd.09b7c6","name":"write_desired_temp_bedroom2f","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload * 10, 'fc': 6, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":340,"wires":[["e45fafe8.ecbe5"]]},{"id":"ea5ee538.b23ec8","type":"ui_chart","z":"33daaadd.09b7c6","name":"","group":"5fa85ba9.dbbfd4","order":2,"width":0,"height":0,"label":"Температура ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1300,"y":1040,"wires":[[],[]]},{"id":"cc6c2892.590508","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1000,"wires":[["ea5ee538.b23ec8"]]},{"id":"dae917d7.78eed8","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1040,"wires":[["ea5ee538.b23ec8"]]},{"id":"8453fd17.69de2","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":11,"width":0,"height":0,"name":"","label":"Расход","format":"{{msg.payload}} кг/ч","layout":"row-spread","x":820,"y":1580,"wires":[]},{"id":"ca211ffa.65515","type":"ui_chart","z":"33daaadd.09b7c6","name":"","group":"5fa85ba9.dbbfd4","order":4,"width":0,"height":0,"label":"Расход пеллет, кг/ч","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860,"y":1620,"wires":[[],[]]},{"id":"283bbf61.4c352","type":"rbe","z":"33daaadd.09b7c6","name":"","func":"rbe","gap":"","start":"","inout":"out","x":655,"y":1621,"wires":[["ca211ffa.65515"]]},{"id":"f62d32b5.437d8","type":"function","z":"33daaadd.09b7c6","name":"validate","func":"if(null == context.get('prev'))\n{\n    context.set('prev',  msg.payload);\n    return msg;\n}\n\n\nvar cur = msg.payload;\nvar prev = context.get('prev');\n\nif(cur < 1 || \n   cur > 80 || \n   Math.abs(prev - cur) < 0.2)\n{\n    return null;\n}\n\ncontext.set('prev', cur);\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":1301,"wires":[["33042055.fc625"]]},{"id":"4eb3873.b252278","type":"function","z":"33daaadd.09b7c6","name":"write_stove_mode","func":"var mode = msg.payload;\n\nvar req = {};\nvar p = mode ? \"63\" : \"64\";\nvar v = \"49\";\nreq.url = \"http://192.168.0.200/d.cgi?v=\" + v + \"&p=\" + p;\nreq.method = \"GET\";\nreturn req;","outputs":1,"noerr":0,"x":1150,"y":1680,"wires":[["a5a85b07.6d2d58"]]},{"id":"8592a791.5bb1f8","type":"ui_text","z":"33daaadd.09b7c6","group":"c1b32d80.1efe8","order":3,"width":0,"height":0,"name":"","label":"Состояние","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":1660,"wires":[]},{"id":"87908e16.908fe","type":"function","z":"33daaadd.09b7c6","name":"pellette_stove_controller","func":"var stove_mode = global.get(\"stove.mode\");\nvar pellets_level = global.get(\"stove.pellets_level\")  || 0;\nvar livingroom_cur = global.get(\"living_room.cur\") || 0;\nvar livingroom_desired = global.get(\"living_room.desired\") || 0;\n\n\n// off\nif(stove_mode === 0)\n{\n    state = false;\n}\n\n/* auto  */\nelse if(stove_mode == 1)\n{\n    if(msg.payload === true)\n    {\n        state = true;\n    }\n    else if(livingroom_cur > livingroom_desired)\n    {\n        state = false;\n    }\n    else\n    {\n        state = null;\n    }\n}\n\n/* on */\nelse if(stove_mode == 2)\n{\n    state = true;\n}\n\nvar state_prev = context.get(\"state\") || false;\ncontext.set(\"state\", state);\n\nif(state !== null && state !== state_prev)\n{\n    return { payload: state };\n}","outputs":1,"noerr":0,"x":450,"y":2060,"wires":[["4eb3873.b252278"]]},{"id":"bb330421.c93c18","type":"bigtimer","z":"33daaadd.09b7c6","outtopic":"","outpayload1":"2","outpayload2":"3","name":"Boiler Electro","comment":"","lat":"59.934280","lon":"30.335099","starttime":"1380","endtime":"420","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":415,"y":841,"wires":[["223f9606.68f48a"],[],[]]},{"id":"6ead9154.33d44","type":"ui_chart","z":"a46938.05ec16c8","name":"","group":"5fa85ba9.dbbfd4","order":1,"width":0,"height":0,"label":"Потребление","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"15000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":740,"y":260,"wires":[[],[]]},{"id":"c3165de2.fe7fe","type":"rbe","z":"a46938.05ec16c8","name":"","func":"deadbandEq","gap":"100","start":"","inout":"out","property":"payload","x":430,"y":220,"wires":[["6ead9154.33d44"]]},{"id":"e7e2b0e2.6651b","type":"function","z":"a46938.05ec16c8","name":"stove","func":"var val = global.get(\"stove.power\") || 0;\nvar msg = { payload: val, topic: \"stove\" };\nreturn msg;","outputs":"1","noerr":0,"x":210,"y":300,"wires":[["7af69575.7568ec","3adae040.da41"]]},{"id":"7af69575.7568ec","type":"rbe","z":"a46938.05ec16c8","name":"","func":"deadbandEq","gap":"100","start":"","inout":"out","x":430,"y":260,"wires":[["6ead9154.33d44"]]},{"id":"f3949ac9.349018","type":"ui_gauge","z":"a46938.05ec16c8","name":"","group":"f482c3dc.e7e9","order":1,"width":0,"height":0,"gtype":"gage","title":"Потребление","label":"Вт","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":60,"wires":[]},{"id":"2249c832.3e92c8","type":"ui_text","z":"a46938.05ec16c8","group":"f482c3dc.e7e9","order":2,"width":0,"height":0,"name":"","label":"Напряжение","format":"{{msg.payload}} в","layout":"row-spread","x":730,"y":100,"wires":[]},{"id":"781ea067.5d78c","type":"ui_text","z":"a46938.05ec16c8","group":"f482c3dc.e7e9","order":3,"width":0,"height":0,"name":"","label":"Общий расход","format":"{{msg.payload}} кВт*ч","layout":"row-spread","x":740,"y":140,"wires":[]},{"id":"3adae040.da41","type":"ui_gauge","z":"a46938.05ec16c8","name":"","group":"c1b32d80.1efe8","order":1,"width":0,"height":0,"gtype":"gage","title":"Мощность","label":"Вт","format":"{{value}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":300,"wires":[]},{"id":"3a1d5ef5.6671a2","type":"ui_text","z":"a46938.05ec16c8","group":"7527c183.d5a45","order":2,"width":0,"height":0,"name":"","label":"Время","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":360,"wires":[]},{"id":"4dd9d426.e5f93c","type":"ui_switch","z":"a46938.05ec16c8","name":"Гостиная","label":"Гостиная","group":"c149702.78ec99","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":560,"wires":[["7d8540cd.a4222"]]},{"id":"753358cd.5a4708","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Кухня Стол","group":"c149702.78ec99","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":600,"wires":[["94467d78.40dd6"]]},{"id":"8c66c954.2e24b8","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Прихожая","group":"c149702.78ec99","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":640,"wires":[["a2721486.c7eea8"]]},{"id":"d06c908b.0b277","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"2эт Ванная","group":"c149702.78ec99","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":680,"wires":[["c6555cc4.e155f"]]},{"id":"ae13fd70.8f0b","type":"function","z":"a46938.05ec16c8","name":"handle_light","func":"var registers = msg.payload;\nvar reg = registers[0];\nvar l0 = reg & 1\nvar l1 = (reg >> 1) & 1;\nvar l2 = (reg >> 2) & 1;\nvar l3 = (reg >> 3) & 1;\nvar l4 = (reg >> 4) & 1;\nvar l5 = (reg >> 5) & 1;\nvar l6 = (reg >> 6) & 1;\nvar l7 = (reg >> 7) & 1;\nvar l8 = (reg >> 8) & 1;\nvar l9 = (reg >> 9) & 1;\nvar l10 = (reg >> 10) & 1;\n\nvar out0 = { payload: l0 == 1 ? true : false};\nvar out1 = { payload: l1 == 1 ? true : false};\nvar out2 = { payload: l2 == 1 ? true : false};\nvar out3 = { payload: l3 == 1 ? true : false};\nvar out4 = { payload: l4 == 1 ? true : false};\nvar out5 = { payload: l5 == 1 ? true : false};\nvar out6 = { payload: l6 == 1 ? true : false};\nvar out7 = { payload: l7 == 1 ? true : false};\nvar out8 = { payload: l8 == 1 ? true : false};\nvar out9 = { payload: l9 == 1 ? true : false};\nvar out10 = { payload: l10 == 1 ? true : false};\n\nglobal.set(\"living_room.light\", out1.payload ? \"on\" : \"off\");\nglobal.set(\"light.2\", out2.payload ? \"on\" : \"off\");\nglobal.set(\"light.3\", out3.payload ? \"on\" : \"off\");\nglobal.set(\"light.4\", out4.payload ? \"on\" : \"off\");\nglobal.set(\"light.5\", out5.payload ? \"on\" : \"off\");\nglobal.set(\"light.6\", out6.payload ? \"on\" : \"off\");\n\nvar measuremet = {\n    \"l0\" : l0, \n    \"l1\" : l1,\n    \"l2\" : l2,\n    \"l3\" : l3,\n    \"l4\" : l4,\n    \"l5\" : l5,\n    \"l6\" : l6, \n    \"l7\" : l7,\n    \"l8\" : l8,\n    \"l9\" : l9,\n    \"l10\" : l10\n}\n    \nvar out_db = { payload: measuremet, measurement: \"lights\" }\n\nreturn [ out_db, out0, out1, out2, out3, out4, out5, out6, out7, out8, out9, out10];","outputs":12,"noerr":0,"x":230,"y":740,"wires":[[],["4dd9d426.e5f93c"],["753358cd.5a4708"],["8c66c954.2e24b8"],["d06c908b.0b277"],["1432e0f4.a2afef"],["1bc565b7.52e6ea"],["a88ebe4b.55d6d"],["a90402c3.705b1"],[],["4c98972d.8256a8"],["913b704d.111ab"]]},{"id":"94467d78.40dd6","type":"function","z":"a46938.05ec16c8","name":"write_light1","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 1 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["bd119aa2.9e7e48"]]},{"id":"7d8540cd.a4222","type":"function","z":"a46938.05ec16c8","name":"write_light0","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 0 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":560,"wires":[["bd119aa2.9e7e48"]]},{"id":"a2721486.c7eea8","type":"function","z":"a46938.05ec16c8","name":"write_light2","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 2 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["bd119aa2.9e7e48"]]},{"id":"c6555cc4.e155f","type":"function","z":"a46938.05ec16c8","name":"write_light3","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 3 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":680,"wires":[["bd119aa2.9e7e48"]]},{"id":"211efeda.f9a482","type":"function","z":"a46938.05ec16c8","name":"write_light4","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 4 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":720,"wires":[["bd119aa2.9e7e48"]]},{"id":"bd119aa2.9e7e48","type":"link out","z":"a46938.05ec16c8","name":"moudbus_out","links":["bc1340df.20867","f37981c4.ec54d"],"x":1340,"y":540,"wires":[]},{"id":"5d9b357a.d929bc","type":"link in","z":"a46938.05ec16c8","name":"modbus_in","links":["55f46db4.5fd604","afe8e288.ad6da"],"x":20,"y":480,"wires":[["ae13fd70.8f0b","e7e2b0e2.6651b","ad575a0d.93c4d8","946dee8.acab91","cf70b781.926318"]]},{"id":"ad575a0d.93c4d8","type":"function","z":"a46938.05ec16c8","name":"handle_power","func":"var registers = msg.payload;\nvar regA = registers[21];\nvar regB = registers[22];\nvar regC = registers[23];\nvar regD = registers[1];\nvar nightMode = regD & 1\nvar safeMode = (regD >> 1) & 1;\n\nglobal.set(\"electro.power\",   regA);\nglobal.set(\"electro.voltage\", regB);\nglobal.set(\"electro.total\",   regC);\nglobal.set(\"electro.night_mode\", nightMode == 1 ? true : false);\nglobal.set(\"electro.safe_mode\", safeMode == 1 ? true : false);\n\nvar msg1 = { payload: regA, topic: \"power\" };\nvar msg2 = { payload: regB };\nvar msg3 = { payload: regC };\nvar msg4 = { payload: nightMode == 1 ? true : false};\nvar msg5 = { payload: safeMode == 1 ? true : false};\n\nvar measuremet = {\n    \"power\" : regA, \n    \"voltage\" : regB,\n    \"night_tariff\": nightMode == 1 ? true : false\n}\n    \nvar out_db = { payload: measuremet, measurement: \"power\" }\n\nreturn [msg1, msg2, msg3, msg4, msg5, out_db ];","outputs":6,"noerr":0,"x":240,"y":100,"wires":[["f3949ac9.349018","c3165de2.fe7fe"],["2249c832.3e92c8"],["781ea067.5d78c"],["7aa4a059.3cc36"],["dcdd908a.12c53"],[]]},{"id":"7aa4a059.3cc36","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Ночной режим","group":"f482c3dc.e7e9","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":740,"y":180,"wires":[["888b1070.1a8bc"]]},{"id":"888b1070.1a8bc","type":"function","z":"a46938.05ec16c8","name":"write_night_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 16 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["bd119aa2.9e7e48"]]},{"id":"dcdd908a.12c53","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Safe Mode","group":"f482c3dc.e7e9","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":220,"wires":[["99a7a686.620a38"]]},{"id":"99a7a686.620a38","type":"function","z":"a46938.05ec16c8","name":"write_safe_mode","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 17 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["bd119aa2.9e7e48"]]},{"id":"1bc565b7.52e6ea","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"2эт Спальня","group":"c149702.78ec99","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":760,"wires":[["d25bd7d7.ce5b98"]]},{"id":"d25bd7d7.ce5b98","type":"function","z":"a46938.05ec16c8","name":"write_light5","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 5 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":760,"wires":[["bd119aa2.9e7e48"]]},{"id":"946dee8.acab91","type":"function","z":"a46938.05ec16c8","name":"modbus_errors","func":"var registers = msg.payload;\nvar reg = registers[25];\n\nreturn { payload: reg };","outputs":"1","noerr":0,"x":240,"y":400,"wires":[["99ea61e9.0a2ee"]]},{"id":"99ea61e9.0a2ee","type":"ui_text","z":"a46938.05ec16c8","group":"7527c183.d5a45","order":1,"width":0,"height":0,"name":"","label":"Modbus Errors","format":"{{msg.payload}}%","layout":"row-spread","x":740,"y":400,"wires":[]},{"id":"cf70b781.926318","type":"function","z":"a46938.05ec16c8","name":"handle_time","func":"var registers = msg.payload;\nvar regA = registers[24]; \nvar hours = (regA & 0xFF00) >> 8;\nvar minutes = regA & 0x00FF;\nvar time_str = hours + \":\" + minutes;\n\nvar plc_time = { payload: time_str };\n\nglobal.set(\"plc.time\", plc_time.payload);\n\nreturn plc_time;","outputs":"1","noerr":0,"x":230,"y":360,"wires":[["3a1d5ef5.6671a2"]]},{"id":"7c83b218.c1f01c","type":"inject","z":"e80a4a7a.e85da8","name":"3sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"","x":90,"y":180,"wires":[["cf105a5f.b7a9b8","d857123d.839dc","719b538a.ab7f9c"]]},{"id":"6a2fda88.264af4","type":"file","z":"e80a4a7a.e85da8","name":"meters.json","filename":"/home/vadim/.node-red/meters.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":670,"y":500,"wires":[[]]},{"id":"c78de96a.43b818","type":"inject","z":"e80a4a7a.e85da8","name":"10min","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"20","x":100,"y":500,"wires":[["f97ec6c0.b99a78"]]},{"id":"5a397003.7f26","type":"json","z":"e80a4a7a.e85da8","name":"","property":"payload","action":"str","pretty":true,"x":510,"y":500,"wires":[["6a2fda88.264af4"]]},{"id":"b28a04a3.580018","type":"inject","z":"e80a4a7a.e85da8","name":"Start","topic":"30.770509","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":560,"wires":[["d1a4cf89.319b7"]]},{"id":"d1a4cf89.319b7","type":"file in","z":"e80a4a7a.e85da8","name":"meters.json","filename":"/home/vadim/.node-red/meters.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":560,"wires":[["7ed9ca5.587ae34"]]},{"id":"7ed9ca5.587ae34","type":"json","z":"e80a4a7a.e85da8","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":560,"wires":[["4eae932f.4b2dac"]]},{"id":"d857123d.839dc","type":"function","z":"e80a4a7a.e85da8","name":"process_power","func":"var cur = global.get(\"electro.power\");\nvar cur_ts = msg.payload;\n\nvar total = context.get(\"electro.daily\") || 0;\nvar prev = context.get(\"prev\") || cur;\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\n\n\nvar delta_hr =  (cur_ts - prev_ts) / (1000 * 60 * 60);\nvar val = delta_hr * prev / 1000;\ntotal += val;\n\ncontext.set(\"prev\", cur);\ncontext.set(\"prev_ts\", cur_ts);\ncontext.set(\"electro.daily\", total);\n\nmsg.payload = total;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["cbbf4dff.17cb8"]]},{"id":"cbbf4dff.17cb8","type":"ui_text","z":"e80a4a7a.e85da8","group":"f482c3dc.e7e9","order":4,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:1}} кВт*ч","layout":"row-spread","x":690,"y":260,"wires":[]},{"id":"6d45e10e.6565e","type":"ui_text","z":"e80a4a7a.e85da8","group":"c1b32d80.1efe8","order":13,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.payload | number:2}} ч","layout":"row-spread","x":700,"y":100,"wires":[]},{"id":"a4b73a03.05e0c8","type":"inject","z":"e80a4a7a.e85da8","name":"Daily","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":"","x":98,"y":680,"wires":[["e488d51f.2b6be8"]]},{"id":"78deb46e.d1384c","type":"http request","z":"e80a4a7a.e85da8","name":"","method":"use","ret":"txt","url":"","tls":"","x":670,"y":680,"wires":[[]]},{"id":"e488d51f.2b6be8","type":"function","z":"e80a4a7a.e85da8","name":"send_to_spreadsheet","func":"var url = \"https://script.google.com/macros/s/AKfycbzC5Z9f9uvGOYMAWCKw7oO-NYTL0vl9DWZD44v85TYldDi2NzU/exec\"\nvar val = global.get(\"electro.total\");\nvar pellets = global.get(\"stove.daily_consumpion\");\nvar req = {};\nreq.url = url + \"?total=\" + val + \"&pellets=\" + pellets;\nreq.method = \"GET\";\nreturn req;","outputs":1,"noerr":0,"x":368,"y":680,"wires":[["78deb46e.d1384c","90f06610.eefd78"]]},{"id":"cf105a5f.b7a9b8","type":"function","z":"e80a4a7a.e85da8","name":"process_pellet_consuption","func":"var cur_ts = msg.payload;\nvar cur = global.get(\"stove.power\");\nvar val = global.get(\"stove.consumption\") || 0;\nvar daily_consumption = global.get(\"stove.daily_consumpion\") || 0;\nvar uptime = global.get(\"stove.daily_uptime\") || 0;\n\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\ncontext.set(\"prev_ts\", cur_ts);\n\nvar delta_hr = (cur_ts - prev_ts) / (1000 * 60 * 60);\ndaily_consumption += delta_hr * val;\nuptime = cur ? uptime + delta_hr : uptime;\n\nglobal.set(\"stove.daily_consumpion\", daily_consumption);\nglobal.set(\"stove.daily_uptime\", uptime);\n\nvar out1 = { payload: uptime};\nvar out2 = { payload: daily_consumption};\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":380,"y":120,"wires":[["6d45e10e.6565e"],["13a01116.eccacf"]]},{"id":"13a01116.eccacf","type":"ui_text","z":"e80a4a7a.e85da8","group":"c1b32d80.1efe8","order":12,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:2}} кг","layout":"row-spread","x":690,"y":140,"wires":[]},{"id":"719b538a.ab7f9c","type":"function","z":"e80a4a7a.e85da8","name":"process_boiler_consumption","func":"var cur_ts = msg.payload;\nvar cur = global.get(\"boiler.power\");\n\nvar prev = context.get(\"prev\") || cur;\nvar prev_ts = context.get(\"prev_ts\") || cur_ts;\n\nvar total = global.get(\"boiler.daily\") || 0;\nvar uptime = global.get(\"boiler.daily_uptime\") || 0;\n\n\nvar delta_hr =  (cur_ts - prev_ts) / (1000 * 60 * 60);\nvar val = delta_hr * prev / 1000;\ntotal += val;\nuptime += delta_hr * (prev ? 1 : 0);\n\ncontext.set(\"prev\", cur);\ncontext.set(\"prev_ts\", cur_ts);\nglobal.set(\"boiler.daily\", total);\nglobal.set(\"boiler.daily_uptime\", uptime);\n\n\nvar out1 = { payload: total};\nvar out2 = { payload: uptime};\n\nreturn [out1, out2];","outputs":2,"noerr":0,"x":380,"y":180,"wires":[["d4f6084b.5b1bf8"],["94c5e2d6.e70c9"]]},{"id":"d4f6084b.5b1bf8","type":"ui_text","z":"e80a4a7a.e85da8","group":"5e71a7a8.4cbe38","order":7,"width":0,"height":0,"name":"","label":"Дневной расход","format":"{{msg.payload | number:1}} кВт*ч","layout":"row-spread","x":690,"y":180,"wires":[]},{"id":"93a3e858.4acfc8","type":"debug","z":"e80a4a7a.e85da8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":620,"wires":[]},{"id":"c934fdb5.6527e","type":"file in","z":"33daaadd.09b7c6","name":"cpu-temp","filename":"/sys/devices/virtual/thermal/thermal_zone0/temp","format":"utf8","chunk":false,"sendError":false,"x":400,"y":80,"wires":[["7f320aaa.ba89d4"]]},{"id":"7f320aaa.ba89d4","type":"ui_text","z":"33daaadd.09b7c6","group":"7527c183.d5a45","order":3,"width":0,"height":0,"name":"","label":"CPU Temp","format":"{{msg.payload}} &deg;С","layout":"row-spread","x":830,"y":80,"wires":[]},{"id":"f97ec6c0.b99a78","type":"function","z":"e80a4a7a.e85da8","name":"StoreData","func":"var mylist = [\n    \"electro.daily\",\n    \"boiler.daily\",\n    \"boiler.daily_uptime\",\n    \"stove.daily_consumpion\",\n    \"stove.daily_uptime\",\n    \"stove.pellets_level\",\n    \"stove.mode\"\n    ];\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) \n{\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n  \n  \nmsg.payload = outputs;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["5a397003.7f26"]]},{"id":"4eae932f.4b2dac","type":"function","z":"e80a4a7a.e85da8","name":"RestoreData","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) \n{\n    switch (msg.payload[i].type)\n    {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\")\n            {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } \n            else \n            {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1)\n                {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } \n                else\n                {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n            \n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n            \n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["93a3e858.4acfc8"]]},{"id":"90f06610.eefd78","type":"function","z":"e80a4a7a.e85da8","name":"ResetDaily","func":"var mylist = [\n    \"electro.daily\",\n    \"boiler.daily\",\n    \"boiler.daily_uptime\",\n    \"stove.daily_consumpion\",\n    \"stove.daily_uptime\",\n    \"stove.pellets_level\"\n    ];\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) \n{\n    global.set(mylist[i], 0);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[[]]},{"id":"cb95e8de.30fb58","type":"inject","z":"33daaadd.09b7c6","name":"Startup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":100,"y":1880,"wires":[["f812a44c.02de58"]]},{"id":"a71d59ba.d94008","type":"ui_dropdown","z":"33daaadd.09b7c6","name":"","label":"Режим","place":"","group":"c1b32d80.1efe8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"off","value":0,"type":"num"},{"label":"auto","value":1,"type":"num"},{"label":"on","value":2,"type":"num"}],"payload":"","topic":"","x":260,"y":1940,"wires":[["52fe6031.4121d"]]},{"id":"f812a44c.02de58","type":"function","z":"33daaadd.09b7c6","name":"","func":"var val = global.get(\"stove.mode\");\nreturn { payload:val};","outputs":1,"noerr":0,"x":250,"y":1880,"wires":[["a71d59ba.d94008"]]},{"id":"52fe6031.4121d","type":"function","z":"33daaadd.09b7c6","name":"","func":"global.set(\"stove.mode\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":2000,"wires":[["87908e16.908fe"]]},{"id":"8f758227.aeed5","type":"function","z":"33daaadd.09b7c6","name":"write_stove_electro_mode","func":"var mode = msg.payload;\n\nvar p_el = 93;\nvar p_pel = 94;\nvar v_el = 0;\nvar v_pel = 0;\n\nif(!mode)\n{\n    v_el = 72;\n    v_pel = 72;\n}\nelse\n{\n    v_el = 23 + 48;\n    v_pel = 7 + 48;\n}\n\nvar req1 = {};\nreq1.url = \"http://192.168.0.200/d.cgi?v=\" + v_el + \"&p=\" + p_el;\nreq1.method = \"GET\";\n\nvar req2 = {};\nreq2.url = \"http://192.168.0.200/d.cgi?v=\" + v_pel + \"&p=\" + p_pel;\nreq2.method = \"GET\";\n\n\nreturn [req1, req2];","outputs":2,"noerr":0,"x":1260,"y":1960,"wires":[["a5a85b07.6d2d58"],["a5a85b07.6d2d58"]]},{"id":"af689d05.4fea4","type":"inject","z":"33daaadd.09b7c6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":1920,"wires":[["8f758227.aeed5"]]},{"id":"65a456d3.42b648","type":"inject","z":"33daaadd.09b7c6","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":1980,"wires":[["8f758227.aeed5"]]},{"id":"94c5e2d6.e70c9","type":"ui_text","z":"e80a4a7a.e85da8","group":"5e71a7a8.4cbe38","order":13,"width":0,"height":0,"name":"","label":"Дневная наработка","format":"{{msg.payload | number:2}} ч","layout":"row-spread","x":700,"y":220,"wires":[]},{"id":"13a4f196.8ee53e","type":"inject","z":"e80a4a7a.e85da8","name":"debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["90f06610.eefd78"]]},{"id":"a88ebe4b.55d6d","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Полотенцесушитель","group":"c149702.78ec99","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":760,"y":800,"wires":[["622bf548.fd9dac"]]},{"id":"622bf548.fd9dac","type":"function","z":"a46938.05ec16c8","name":"write_light6","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 6 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":800,"wires":[["bd119aa2.9e7e48"]]},{"id":"a90402c3.705b1","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"2эт Холл","group":"c149702.78ec99","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":840,"wires":[["84d02370.58ee7"]]},{"id":"84d02370.58ee7","type":"function","z":"a46938.05ec16c8","name":"write_light7","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 7 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":840,"wires":[["bd119aa2.9e7e48"]]},{"id":"9470f501.cfcde8","type":"function","z":"a46938.05ec16c8","name":"write_light8","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":880,"wires":[["bd119aa2.9e7e48"]]},{"id":"4c98972d.8256a8","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Кухня","group":"c149702.78ec99","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":920,"wires":[["286471b8.2bbcce"]]},{"id":"286471b8.2bbcce","type":"function","z":"a46938.05ec16c8","name":"write_light9","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":920,"wires":[["bd119aa2.9e7e48"]]},{"id":"913b704d.111ab","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Лестница","group":"c149702.78ec99","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":960,"wires":[["a163517b.caf77"]]},{"id":"a163517b.caf77","type":"function","z":"a46938.05ec16c8","name":"write_light10","func":"var val = context.get('val');\ncontext.set('val', msg.payload);\n\nif(val == msg.payload)\n{\n    return null;\n}\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":960,"wires":[["bd119aa2.9e7e48"]]},{"id":"95d512e2.0a69c","type":"inject","z":"33daaadd.09b7c6","name":"Night tariff","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"10 23 * * *","once":false,"onceDelay":0.1,"x":110,"y":2060,"wires":[["87908e16.908fe"]]},{"id":"32d55e59.3385b2","type":"inject","z":"33daaadd.09b7c6","name":"15min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"10","x":100,"y":2100,"wires":[["87908e16.908fe"]]},{"id":"c0cd1a59.405f78","type":"bigtimer","z":"33daaadd.09b7c6","outtopic":"","outpayload1":"50","outpayload2":"45","name":"Temp","comment":"","lat":"59.910487700000004","lon":"30.770752899999998","starttime":"1080","endtime":"1380","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":1110,"y":1460,"wires":[["d7ca1fb9.8cdfd"],[],[]]},{"id":"1fae1d10.212c83","type":"bigtimer","z":"33daaadd.09b7c6","outtopic":"","outpayload1":"22.5","outpayload2":"20","name":"Temp","lat":"59.910487700000004","lon":"30.770752899999998","starttime":"360","endtime":"1380","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":590,"y":160,"wires":[["7e4dcbbd.08cc24"],[],[]]},{"id":"637a6fb2.c0bbb","type":"bigtimer","z":"33daaadd.09b7c6","outtopic":"","outpayload1":"22","outpayload2":"21","name":"Temp","lat":"59.910487700000004","lon":"30.770752899999998","starttime":"540","endtime":"1380","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":590,"y":280,"wires":[["367f6718.5ce1b8"],[],[]]},{"id":"1432e0f4.a2afef","type":"ui_switch","z":"a46938.05ec16c8","name":"","label":"Гостиная софиты","group":"c149702.78ec99","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":720,"wires":[["211efeda.f9a482"]]}]